<!-- by 유빈 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<div layout:fragment="content">
		<div class="mb-3" >
		  <label for="exampleFormControlspan1" class="form-label">글 번호 : </label>
		<th:block th:text="${board.boardNo}"></th:block> 
		</div>
		
		<div class="mb-3">
		  <label for="exampleFormControlspan1" class="form-label"> 작성자 : </label>
		  	<th:block th:text="${board.memNo}"></th:block> 
		</div>
		
		<div class="mb-3">
		  <label for="exampleFormControlspan1" class="form-label"> 작성일 : </label>
		  <th:block th:text="${board.boardCreateDate}"></th:block> 
		</div>
		
		<div class="mb-3">
		  <label for="exampleFormControlspan1" class="form-label">글제목 : </label>
	  		  <th:block th:text="${board.boardTitle}"></th:block> 
		</div>
		
		<div class="mb-3">
		  <label for="exampleFormControlTextarea1" class="form-label">글내용 : </label>
		  	<div th:text="${board.content}"></div>
		</div>
		
		<div align="center">
			<span th:if="${board.boardWriter == #authentication.name or #strings.contains(#authentication.authorities,'ROLE_Y')}"> 
				<button type="button" class="btn btn-light"  th:onclick="|location.href='@{/board/update(boardNo=${board.boardNo})}'|">수정</button>
				<button type="button" class="btn btn-danger" th:onclick="|location.href='@{/board/delete(boardNo=${board.boardNo})}'|">삭제</button>
			</span>
			<span>
				<button type="button" class="btn btn-dark" th:onclick="@{location.href='/board/list';}">뒤로가기</button>
			</span>
		</div>

</div>

</html>