<!-- by 유빈 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
</th:block>
<div layout:fragment="content">
<!-- board 게시판 제목줄 -->
	<div align="center" class="row">
		<div class="col">
			<h1>B O A R D</h1>
		</div>
	</div>
	
<!-- 제목/내용 셀렉트박스 선택  + 키워드검색 -->
	<!--  부트스트랩 검색기능 -->
	<div class="row mt-5 mb-3">
		<div class="col">
		<form th:action="@{/board/list}" method="post">
			<div align="center" id="search-container">
				<nav class="row navbar bg-light">
				<div class="col-1 container-fluid "></div><!--열맞추기용 -->
				<div class="col-3 container-fluid ">
					<select name="searchKeyword" class="form-select" aria-label="Default select example">
						  <!-- value값을 두개가져오니까 split을 사용해서 배열을 for문으로 돌려서 데이터 추출? -->
						  <option value="ALL" th:selected="${boardVO.searchKeyword == 'ALL'}">전체</option>
						  <option value="BOARD_TITLE" 	th:selected="${boardVO.searchKeyword == 'BOARD_TITLE'}">제목</option>
						  <option value="BOARD_CONTENT" th:selected="${boardVO.searchKeyword == 'BOARD_CONTENT'}">내용</option>
						  <option value="BOARD_WRITER"  th:selected="${boardVO.searchKeyword == 'BOARD_WRITER'}">작성자</option>
					</select>
				</div>
				<div class="col-3 container-fluid">
				      <input name="searchValue"  th:value="${boardVO.searchValue}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				</div>
		    	 <!-- 검색 버튼 영역 -->
			    <div class="col-2 container-fluid">
					 <button class="btn btn-outline-success" type="submit">검색</button>
			    </div>
				<div class="col-1 container-fluid"></div> <!--열맞추기용 -->
			     <!-- 글쓰기 등록 버튼 영역 -->
			    <div class="col-2 container-fluid">
				     <button  sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-success" th:onclick="@{location.href='/board/reg';}">글쓰기</button>
			    </div>
				</nav>
			</div>
		</form>
		</div>
	</div>

<!-- 부산대학교 학생지원시스템 레퍼런스 : 게시판 종류별 메뉴클릭 탭 바 (카테고리별) -->
	<div class="row">
	<div class="col-xl-7 order-xl-last">
		<section class="sec-1 sec-smart-board">
			<!-- 탭 -->
			<ul class="nav nav-tabs" id="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="board-tab-1" data-toggle="tab" href="#board-tabpanel-1" data-selected="true" data-lang="" title="선택됨" >학생지원시스템공지</a>
					<div class="tab-content">
						<!-- '학생지원' 탭 패널 -->
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="board-tab-2" data-toggle="tab" href="#board-tabpanel-2" data-selected="false" onclick="f_pnuNotice('10');return false;" onkeypress="this.onclick;" data-lang="">대학공지</a>
					<div class="tab-content">
						<!-- '대학공지' 탭 패널 -->
						<div class="tab-pane fade" id="board-tabpanel-2" aria-labelledby="board-tab-2">
							<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
							
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="board-tab-3" data-toggle="tab" href="#board-tabpanel-3" data-selected="false" onclick="f_getDepartConfig('10');return false;" onkeypress="this.onclick;" data-lang="">학과공지</a>
					<div class="tab-content">
						<!-- '학과공지' 탭 패널 -->
						<div class="tab-pane fade" id="board-tabpanel-3" aria-labelledby="board-tab-3">
							<!-- <a class="more-link" href="#none" aria-label="더보기" title="더보기"></a> -->
							<p class="non-info mb" data-lang="">로그인이 필요한 서비스 입니다.</p>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="board-tab-4" data-toggle="tab" href="#board-tabpanel-4" data-selected="false" onclick="f_mainBbsList('4','000000000000062','10');return false;" onkeypress="this.onclick;" data-lang="">장학공지</a>
					<div class="tab-content">
						<!-- '장학공지' 탭 패널 -->
						<div class="tab-pane fade" id="board-tabpanel-4" aria-labelledby="board-tab-4">
							<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
						</div>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="board-tab-5" data-toggle="tab" href="#board-tabpanel-5" data-selected="false" onclick="f_mainBbsList('5','000000000000384','10');return false;" onkeypress="this.onclick;">Q&amp;A</a>
					<div class="tab-content">
						<!-- 'Q&A' 탭 패널 -->
						
						<div class="tab-pane fade" id="board-tabpanel-5" aria-labelledby="board-tab-5">
							<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
						</div>	
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="board-tab-6" data-toggle="tab" href="#board-tabpanel-6" data-selected="false" onclick="f_mainBbsList('6','000000000000385','10');return false;" onkeypress="this.onclick;">FAQ</a>
					<div class="tab-content">
						<!-- 'FAQ' 탭 패널 -->
						<div class="tab-pane fade" id="board-tabpanel-6" aria-labelledby="board-tab-6">
							<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
						</div>
					</div>
				</li>
			</ul>
		</section>
				
	</div>
	</div>
<!--  end -->

<!-- 게시판 글머리 영역 -->
	<div class="row">
		<div class="col">
		<table class="table table-hover ">
			<colgroup>
				<col width="*%">
				<col width="4%">
				<col width="45%">
				<col width="20%">
				<col width="10%">
				<col width="8%">
				<col width="8%">
			</colgroup>
			<thead class="table-light">
				<tr>
					<td>No.</td><!-- pk값이 아닌 행번호(row_no)를 의미함 -->
					<td ><!-- 비밀글여부 -->
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
						  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
						</svg> 
					</td>
					<td align="center">글제목</td>
					<td align="center">작성일</td>
					<td align="center">작성자</td>
					<td align="center">조회수</td>
					<td align="center">댓글수</td>
				</tr>
			  </thead>
			  
			  <tbody>
				  <th:block th:if="${#lists.size(boardList) == 0}">
					<tr>
						<td align="center" colspan="7"> 게시된 등록글이 없습니다.</td>
					</tr>
				 </th:block>
				  <th:block th:unless="${#lists.size(boardList) == 0}" >
					<tr th:each="board : ${boardList}">
						<td>
							<th:block th:if="${board.isNotice eq'Y'}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-megaphone" viewBox="0 0 16 16">
								  <path d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"/>
								</svg>
							</th:block>
							<th:block th:unless="${board.isNotice eq'Y'}">
								<span th:text="${board.rowNum}"></span> 
							</th:block>
						</td>
						<!-- 비밀글여부 -->
						<td>
							<th:block th:if="${board.isSecrert eq'Y'}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
								  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
								</svg> 
							</th:block>
							<th:block th:unless="${board.isSecrert eq'Y'}">
							</th:block>
						</td>
						<!-- 글제목줄 -->
						<td >
							<!-- 비밀글 일 때 -->
							<!-- 본인 작성 비밀글이 아닌경우, warning창 띄우기 -->
							<th:block th:if="${board.isSecrert eq 'Y'}">
								<th:block th:if="${board.boardWriter == #authentication.name or #strings.contains(#authentication.authorities,'ROLE_ADMIN')}"> 
									<th:block th:if="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
									</th:block>
									<th:block th:unless="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
									</th:block>
								</th:block >
								<th:block th:unless="${board.boardWriter == #authentication.name or #strings.contains(#authentication.authorities,'ROLE_ADMIN')}"> <!-- 게시글작성자와 로그인한 학번/교번과 일치하면 -->
									<th:block th:if="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
									</th:block>
									<th:block th:unless="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
									</th:block>
								</th:block>
							</th:block>
							<!-- 비밀글이 아닐때 -->
							<th:block th:unless="${board.isSecrert eq 'Y'}">
								<th:block th:if="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
									</th:block>
									<th:block th:unless="${board.isNotice == 'Y'}">
										<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
									</th:block>
							</th:block>
						</td>
						<td align="center" th:text="${board.boardCreateDate}"></td>
						<td th:text="${board.boardWriter}"></td>
						<td align="center" th:text="${board.boardReadCnt}"></td>
						<td align="center" th:text="${board.replyCnt}"></td> 
					</tr>
				  </th:block>
				</tbody>
		</table>	
		</div>
		
		
		<!-- 11/27 문제점발생!! 3페이지부터 게시글목록이없습니다! 라고 조회된다...왜???? -->
		<!-- 부트스트랩 페이징처리 -->
		 <div class="row" >						
			<!-- <div class="col-5" ></div> -->
			<div class="offset-5" > 
				<nav  aria-label="Page navigation example" >
				  <ul class="pagination " >
				   <th:block th:if="${boardVO.prev}">
				    	<li class="page-item">
					   		 <a class="page-link" th:text="prev" th:href="@{/board/list(nowPage=${boardVO.beginPage-1})}"></a>
					    </li>
				    </th:block>
				    <th:block th:each="pageNum : ${#numbers.sequence(boardVO.beginPage, boardVO.endPage)}">
					    <li class="page-item">
					    	<a class="page-link" th:text="${pageNum}" th:href="@{/board/list(nowPage=${pageNum})}"></a>
					    </li>	
				   </th:block>
				    <th:block th:if="${boardVO.next}">
					    <li class="page-item">
					   		<a class="page-link" th:text="next" th:href="@{/board/list(nowPage=${boardVO.endPage+1})}"></a>
					   </li>
				   </th:block>
				  </ul>
				</nav>
			 </div>
		</div> 
			<!-- <div class="col-5" ></div>  -->
		<!-- 부트스트랩 끝 -->
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" th:src="@{/js/common/board_list.js}"></script>

</div>
</html>