<!-- by 유빈 -->
<!-- finalBoard 프로젝트 소스 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<div layout:fragment="content">
	<div class="row justify-content-center">
	<!-- 제목줄 -->
	<div class="col-12" align="center"> <h1>BOARD FORM</h1> </div>
	<!-- 내용줄 -->
	<div class="col-12" > 
		<form th:action="@{/board/reg}" method="post" th:object="${boardVO}">
		<input type="hidden" name="memNo">
		
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">작성자 :</label> 
				<span sec:authorize="isAuthenticated()" sec:authentication="name" ></span>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">카테고리 :</label>
				<select class="form-control" name="cateNo" >
					<th:block th:each="cate : ${cateUsedList}">
						<option th:text="${cate.cateName}" th:value="${cate.cateNo}" ></option>
					</th:block>
				</select>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label" >글 제목 :</label> 
				<input  type="text" class="form-control" th:field="*{boardTitle}" placeholder="제목을 입력하세요">
				<div style=" font-size: 0.9rem; color: red;" class="hasError" th:if="${#fields.hasErrors('boardTitle')}" th:errors="*{boardTitle}" ></div>
			</div>
			<div class="mb-3">
				<label for="exampleFormControlTextarea1" class="form-label">글 내용 :</label>
				<textarea class="form-control" th:field="*{boardContent}" rows="3" placeholder="내용을 입력하세요"></textarea>
				<div style=" font-size: 0.9rem; color: red;" class="hasError" th:if="${#fields.hasErrors('boardContent')}" th:errors="*{boardContent}" ></div>
			</div>
			
			
			<div class="row mb-3">
			
				<!-- 비밀글여부 -->
				<div class="col-6">
					<div class="row">
						<div class="col-4">
							<label for="exampleFormControlTextarea1" class="form-label">비밀글여부 :</label>
						</div>
						<div class="col-4">
							  <div class="form-check">
								  <input value="Y" class="form-check-input" type="radio" name="isSecrert" >
								  <label class="form-check-label" for="flexRadioDefault2">예</label>
							  </div>
						</div>
						<div class="col-4">
							<div class="form-check">
							  <input value="N" class="form-check-input" type="radio" name="isSecrert"  checked>
							  <label class="form-check-label" for="flexRadioDefault1">아니오</label>
							</div>  
						</div>
					</div>
				</div>
				<!-- 비밀글 여부 끝 -->
				
				<!-- 공지글 여부 -->
				<div class="col-6">
					<div class="row">
						<div class="col-4">
							<label for="exampleFormControlTextarea1" class="form-label">공지글여부 :</label>
						</div>
						<div class="col-4">
							  <div class="form-check">
								  <input value="Y" class="form-check-input" type="radio" name="isNotice"  >
								  <label class="form-check-label" for="flexRadioDefault2">예</label>
							  </div>
						</div>
						<div class="col-4">
							<div class="form-check">
							  <input value="N" class="form-check-input" type="radio" name="isNotice"  checked>
							  <label class="form-check-label" for="flexRadioDefault1">아니오</label>
							</div>  
						</div>
					</div>
				</div>
				<!-- 공지글 여부 끝 -->
			</div>
			
			<!-- 글등록 버튼 -->
			<div align="center">
				<button class="btn btn-light" type="submit" th:onclick="@{location.href='/board/reg';}">글등록</button>
			</div>
			
		</form>
	</div>
	</div>
</div>

</html>