<!-- by yb : 로그인 후 화면 기본 정리  -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
<!-- <link rel="stylesheet"  th:href="@{}"> 외부 css 파일 불러오겠다  rel은 고정-->
</th:block>

<div layout:fragment="content"> 
	<div>
	누군가 로그인 이후 첫 화면 페이지입니다
	<div> 
	MEM_001 의 김자바 학생(권한)이 로그인 후 페이지 화면 
 	</div>
	 첫화면에서 보여져야하는 것은 학생의 기준 시,
	 시간표 + 게시판 목록 이 띄어져야한다. 
	</div>
	 
	 <div class="row">
		 <div class="col-6" style="background-color: purple; height: 600px;">좌측화면) 시간표 영역</div>
		 <div class="col-6" style="background-color: lime;">우측화면) 게시판 영역</div>
	 </div>
	 
</div>
</html>