<!-- by 유빈,수경  -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<div layout:fragment="content">

<!-- 전체 배경화면 동영상 영역 -->
	<div class="jb-box">
		<video muted autoplay loop>
			<source src="/videos/NFU_home_video.mp4" type="video/mp4">
		</video>
	</div>
<!-- 좌측 ) 캐러셀 + 우측) 게시판 영역  -->
<!-- 제목줄 -->
	<div class="row "  id="homeTitle">
		<div class="col-10 text-center mt-6 mb-3" style="font-weight: bold; font-size: 30px; ">
			<label class="label">Leap forward, NFU!<p> </label>
			<label class="label">시대를 열어가는 담대한 지성, NFU <p> </label>
		</div>
	</div>

<!-- 전체(배너 + 게시판) -->
	<div class="row" >
	<!--좌측 ) [ 캐러셀 ]  : 슬라이드 부트스트랩 적용 -->
	<div class="col-5">
		<div  id="carouselExampleDark" class="carousel carousel-dark slide"	data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide-to="0" class="active" aria-current="true"
					aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleDark"
					data-bs-slide-to="1" aria-label="Slide 2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active" data-bs-interval="10000">
					<img src="/images/국가장학금.jpg" class="d-block w-100" alt="..." height="400px;" >
				</div>
				<div class="carousel-item" data-bs-interval="2000">
					<img src="/images/희망도서.jpg" class="d-block w-100" alt="..." height="400px;" >
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExampleDark" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>


	<!-- 우측) 게시판 영역 -->
	<div class="col-7" >
		<!-- 부산대학교 학생지원시스템 레퍼런스 : 게시판 종류별 메뉴클릭 탭 바 (카테고리별) -->
		<div class="row">
			<div class="col-9">
			<!--by수경 TAB 사용을 위하여 이벤트 추가 -->
			<ul class="nav nav-tabs">
				<li class="nav-item">
				<!-- 1. js 바꾸기작업 -> class값에서 active 지우거나 생기게해주기 -->
					<a class="nav-link active aTagSystemBoard" data-toggle="tab" href="#systemBoard">전체게시판</a>
				</li>
				<li class="nav-item">
					<a class="nav-link aTagMainBoard"  data-toggle="tab" href="#mainBoard">공지사항</a>
				</li>
				<li class="nav-item">
					<a class="nav-link aTagFreeBoard" data-toggle="tab" href="#freeSystem">Q&A</a>
				</li>
			</ul>
				<!-- by수경 tab 하단에 나올 게시판 (전체게시판 게시판) -->	
				<div class="tab-content">
					<div class="tab-pane fade show active systemBoardDiv" id="systemBoard">
					
					<div class="row">
						<div class="col mb-3">
							<!--by수경 스크롤을 위하여 테이블 분리 및 상단 제목줄 삭제 -->
							<div class="row" style="height: 345px; overflow-y: scroll;">
							<table class="table">
								<tbody>
								 <th:block th:if="${#lists.size(boardList) == 0}">
								<tr>
									<td align="center" colspan="7"> 게시된 등록글이 없습니다.</td>
								</tr>
								</th:block>
								 <th:block th:unless="${#lists.size(boardList) == 0}" >
								<tr th:each="board : ${boardList}">
									<td>
										<th:block th:if="${board.isNotice eq'Y'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
												<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
											</svg>
										</th:block>
										<th:block th:unless="${board.isNotice eq'Y'}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
												<path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/>
											</svg>
										</th:block>
									</td>
									<td>
										<!-- 비밀글 일 때 -->
										<!-- 본인 작성 비밀글이 아닌경우, warning창 띄우기 -->
										<th:block th:if="${board.isSecrert eq 'Y'}">
											<th:block th:if="${board.boardWriter == #authentication.name or #strings.contains(#authentication.authorities,'ROLE_ADMIN')}"> 
												<th:block th:if="${board.isNotice == 'Y'}">
													<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
												</th:block>
												<th:block th:unless="${board.isNotice == 'Y'}">
													<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
												</th:block>
											</th:block >
											<th:block th:unless="${board.boardWriter == #authentication.name or #strings.contains(#authentication.authorities,'ROLE_ADMIN')}"> <!-- 게시글작성자와 로그인한 학번/교번과 일치하면 -->
												<th:block th:if="${board.isNotice == 'Y'}">
													<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
												</th:block>
												<th:block th:unless="${board.isNotice == 'Y'}">
													<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
												</th:block>
											</th:block>
										</th:block>
										<!-- 비밀글이 아닐때 -->
										<th:block th:unless="${board.isSecrert eq 'Y'}">
											<th:block th:if="${board.isNotice == 'Y'}">
												<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="|[공지] ${board.boardTitle}|" ></a>
											</th:block>
											<th:block th:unless="${board.isNotice == 'Y'}">
												<a th:href="@{/board/detail(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" ></a>
											</th:block>
										</th:block>
									</td>
									<td align="center" th:text="${board.boardCreateDate}"></td>
								</tr>
								</th:block>
								</tbody>
							</table>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<!-- by수경 tab 하단에 나올 게시판 (공지게시판) -->	
		<div class="row">
			<div class="col-9">
				<div class="tab-content">
					<div class="tab-pane fade mainBoardDiv" id="mainBoard">
						<div class="row">
							<div class="col mb-3">
							<!--by수경 스크롤을 위하여 테이블 분리 및 상단 제목줄 삭제 -->
								<div class="row" style="height: 345px; overflow-y: scroll;">
									<table class="table text-center">
										<tbody>
											<tr>
												<td>
												조회된 목록이 없습니다.
												</td>
											</tr>
										</tbody>
									</table>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- by수경 tab 하단에 나올 게시판 (자유게시판) -->	
		<div class="row">
			<div class="col-9">
				<div class="tab-content">
					 <div class="tab-pane fade freeBoardDiv" id="freeBoard">
						<div class="row">
						  <div class="col mb-3">
			 <!--by수경 스크롤을 위하여 테이블 분리 및 상단 제목줄 삭제 -->
							<div class="row" style="height: 345px; overflow-y: scroll;">
									<table class="table text-center">
										  <tbody>
											<tr>
										    	<td>
												  조회된 목록이 없습니다.
										    	</td>
							   				 </tr>
										</tbody>
									</table>	
								</div>
							</div>
						 </div>
					 </div>
				 </div>	
			</div>
		</div>
	</div>
</div>





	<!--  ////////////////////////////////////////////////  모달 영역 //////////////////////////////////////////////// - ->

		<!-- 2번) Modal 구글링해서 가져온 소스 : 스프링부트로 이메일 비밀번호찾기 -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
						<h4>
							<span class="glyphicon glyphicon-lock"></span> [이메일로 비밀번호 찾기]
						</h4>
					</div>
					<div class="modal-body" style="padding: 30px 40px;">
						<div style="color: #ac2925">
							<center>입력된 정보로 임시 비밀번호가 전송됩니다.</center>
						</div>
						<hr>
						<form role="form" th:action="@{/member/checkAndSendEmail}"
							method="post">
							<div class="form-group">
								<label for="userEmail"><span
									class="glyphicon glyphicon-user"></span>이메일</label> <input
									name="memEmail" type="text" class="form-control" id="userEmail"
									placeholder="가입시 등록한 이메일을 입력하세요.">
							</div>
							<div class="form-group">
								<label for="userName"><span
									class="glyphicon glyphicon-eye-open"></span> 학번/교번</label> <input
									name="memNo" type="text" class="form-control" id="userName"
									placeholder="학번 및 교번을 입력하세요.">
							</div>
							<div align="center" style="margin-top: 15px;">
								<button type="submit" class="btn btn-success btn-block"
									id="checkEmail">전송</button>
							</div>
						</form>
						<hr>
						<div class="text-center small mt-2" id="checkMsg"
							style="color: red"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
		









	<!-- 주소 API  -->
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script type="text/javascript" src="/js/common/home_Login.js"></script>

</div>
</html>