<!-- by 유빈 -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
<!-- <link rel="stylesheet"  th:href="@{}"> 외부 css 파일 불러오겠다  rel은 고정-->
</th:block>

<div layout:fragment="content"> 
	<form method="post" th:action="@{/member/loginProcess}">
		<div class="form-floating mb-3">
		  <input th:name="memNo" type="text" class="form-control" id="floatingInput" placeholder="학번 혹은 교직원 번호를 입력하세요">
		  <label for="floatingInput"> 학번 / 교직원 번호 </label>
		</div>
		<div class="form-floating">
		  <input th:name="memPw" type="password" class="form-control" id="floatingPassword" placeholder="Password">
		  <label for="floatingPassword"> Password </label>
		</div>
		<div class="row mt-3 mb-2">
			<div class="col">
				<div align="center">
		    		<button type="submit" class="btn btn-outline-primary"> 로그인 </button>
		    		<button type="button" onclick="location.href='/mail/sendMail';" class="btn btn-outline-primary"> 이메일발송 테스트 </button>
				</div>
			</div>
		</div>
	</form>
</div>
</html>