<!-- by 유빈 -->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
<!-- <link rel="stylesheet"  th:href="@{}"> 외부 css 파일 불러오겠다  rel은 고정-->
</th:block>






<div layout:fragment="content"> 

	<div class="row">
		<div class="col-8"> 학교 홈 이미지 화면 영역 </div>
		<div class="col-4">
		
		<form method="post" th:action="@{/member/loginProcess}">
			<div class="form-floating mb-3">
			  <input th:name="memNo" type="text" class="form-control" id="floatingInput" placeholder="학번 혹은 교직원 번호를 입력하세요">
			  <label for="floatingInput"> 학번 / 교번 </label>
			</div>
			<div class="form-floating">
			  <input th:name="memPw" type="password" class="form-control" id="floatingPassword" placeholder="비밀번호를 입력하세요">
			  <label for="floatingPassword"> 비밀번호 </label>
			    		<a onclick="location.href='/mail/sendMail';" > 이메일로 비밀번호 찾기</a>
			</div>
			<div class="row mt-3 mb-2">
				<div class="col">
					<div align="center">
			    		<button type="submit" class="btn btn-outline-primary"> 로그인 </button>
			    		<!-- <button type="button" class="btn btn-outline-primary"> 아이디찾기 </button> -->
					</div>
				</div>
			</div>
		</form>
		
		
		</div>
	</div>



	
</div>
</html>