<!-- by 유빈 -->
<!DOCTYPE html>
<html lang="ko"
	 xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 
	
<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
	<link rel="stylesheet" type="text" th:href="@{css/test.css}"> <!--외부 css 파일 불러오겠다 rel은 고정-->
</th:block>

<div layout:fragment="content" class="content"> 



<!-- 전체 배경화면 동영상 영역 -->
<div class="jb-box">
      <video muted autoplay loop>
        <source src="/videos/NFU_home_video.mp4" type="video/mp4">
        <strong>Your browser does not support the video tag.</strong>
      </video>
<div class="jb-text">
  <p>Lorem Ipsum Dolor</p>
</div>
</div>





<!-- 좌측 ) 캐러셀 + 우측) 게시판 영역  -->
<div class="row mt-5">
<!--좌측 ) [ 캐러셀 ]  : 슬라이드 부트스트랩 적용 -->
<div class="col-6">
 	Leap forward, NFU!
	시대를 열어가는 담대한 지성, NFU
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/images/nf logo.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="/images/nf logo.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/nf logo.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>


<!-- 우측) 게시판 영역 -->
<div class="col-6" style="background-color: gray;">
	게시판 가져오기.
</div><!-- 두번째 줄 끝 -->	

<!--  ////////////////////////////////////////////////  모달 영역 //////////////////////////////////////////////// - ->
<!-- 1번) shop 복붙소스- 이메일로 비밀번호 찾기 a태그 클릭시 실행 Modal  -->
<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">비밀번호찾기(임시비밀번호발급)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
     <!--  로그인 - 세션이용 데이터 form태그로 보내주기
      부트스트랩에서 가져왔기때문에 함부러 수정x 형식에 맞게 해야사용가능하다 -->
		<form class="row g-3" name="formLogin" method="post" th:action="@{/member/loginProcess}" >
		  <div class="mb-3">
		  <!-- label은 input태그의 라벨(스티커)이다. 웬만하면, for값과 id값이 같아야한다
		  html 파일 내에 memberId 라는 id값이 여러개 존재한다.(중복발생) -->
		    <label for="memNo" class="form-label" >학번/교번</label>
		    <input  type="text" class="form-control" name="memNo" id="memNo" aria-describedby="emailHelp" placeholder="ex)MEM_001" checked="checked">
		  </div>
		  <div class="mb-3">
		    <label for="memName" class="form-label">이름</label>
		    <input type="text" class="form-control" name="memName"  id="memName" placeholder="이름을 입력하세요" checked="checked">
		  </div>
		  <div class="mb-3">
		    <label for="memEmail" class="form-label">이메일</label>
		    <input type="email" class="form-control" name="memEmail"  id="memEmail" placeholder="ex)abc123@gmail.com" checked="checked">
		  </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary" onclick="sendEmail();">임시비밀번호발급하러가기=이메일로비밀번호찾기</button>
	      </div>
		</form>
      </div>
    </div>
  </div>
</div>

<!-- 2번) Modal 구글링해서 가져온 소스 : 스프링부트로 이메일 비밀번호찾기 --> 
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header" >
                    <h4><span class="glyphicon glyphicon-lock"></span> [이메일로 비밀번호 찾기]</h4>
                </div>
                <div class="modal-body" style="padding:30px 40px;">
                    <div style="color: #ac2925">
                        <center> 입력된 정보로 임시 비밀번호가 전송됩니다. </center>
                    </div>
                    <hr>
                    <form role="form" th:action="@{/member/checkAndSendEmail}" method="post" >
                        <div class="form-group">
                            <label for="userEmail"><span class="glyphicon glyphicon-user"></span>이메일</label>
                            <input name="memEmail"  type="text" class="form-control" id="userEmail" placeholder="가입시 등록한 이메일을 입력하세요.">
                        </div>
                        <div class="form-group">
                            <label for="userName"><span class="glyphicon glyphicon-eye-open"></span> 학번/교번</label>
                            <input name="memNo" type="text" class="form-control" id="userName" placeholder="학번 및 교번을 입력하세요.">
                        </div>
                        <div align="center" style="margin-top: 15px;">
	                        <button type="submit" class="btn btn-success btn-block" id="checkEmail">전송</button>
                        </div> 
                    </form>
                    <hr>
                    <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
                </div>
                <div class="modal-footer">
             		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
 


<!-- 회원가입 클릭시 실행 Modal -->
<div class="modal fade" id="join_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">[ 회원가입 ]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
       <!-- 너비 조정
      col-12 / col-6 :  한 줄 너비 총 크기 12이기때문에 12분등 중 어느만큼 사용하는건지 -->
	  	<form  id="joinFormTag" class="row g-3" th:action="@{/member/join}" method="post" th:object="${memberVO}">
		  	<!-- class값은 고정 건드리면 안됨. 부트스트랩사용하기위한 의미
		    for태그와 id태그 이름은 같게 하도록 -->
		  <div class="col-12">
		    <label for="memNo" class="form-label">학번 및 교번</label>
		    <input type="text" class="form-control" th:field="*{memNo}" placeholder="본인의 학번 및 교번을 입력하세요"  required>
			<div class="hasError" th:if="${#fields.hasErrors('memNo')}" th:errors="*{memNo}"></div>
		  </div>

		  <div class="col-12">
		    <label for="memPw" class="form-label">비 밀 번 호</label>
		    <div style="color: red; font-size: 13px;"> ※ 영문 및 숫자 조합 8자리 이상 ~ 15자리 이하</div>
		    <input type="password" class="form-control"  th:field="*{memPw}"  placeholder="비밀번호를 입력하세요." required>
 			<div class="hasError" th:if="${#fields.hasErrors('memPw')}" 	  th:errors="*{memPw}"></div>
		  </div>

		  <div class="col-12">
		    <label for="memName" class="form-label"> 이 름</label>
		    <input type="text"   class="form-control"  th:field="*{memName}" placeholder="이름을 입력하세요" required>
			<div class="hasError" th:if="${#fields.hasErrors('memName')}"  th:errors="*{memName}"></div>
		  </div>

		 <!-- 주소(상세주소 + 검색버튼추가)
		 줄을 맞추기위해 실제내용은 화면에 안보이도록 공백문자사용/ class에 form-control 붙여넣기 -->
		  <div class="col-9">
		    <label for="memAddr" class="form-label"> 주 소 </label>
		    <input type="text" class="form-control" th:field="*{memAddr}" placeholder="주소를 검색하세요."  readonly onclick="searchAddr();">값변경못하도록 읽기전용속성값부여하기 ( 데이터넘기기 가능)
			<div class="hasError" th:if="${#fields.hasErrors('memAddr')}" th:errors="*{memAddr}"></div>
		  </div>
		  <div class="col-3" >
		    <label for="" class="form-label">&nbsp;</label>
			<input type="button" class="btn btn-secondary form-control" onclick="searchAddr();" value="검색" >
		  </div>
		  <div class="col-12" >
		    <input type="text" class="form-control" th:field="*{memAddrDetail}" placeholder="상세주소를 입력하세요.">
   			<div class="hasError" th:if="${#fields.hasErrors('memAddrDetail')}" th:errors="*{memAddrDetail}"></div>
		  </div>
		 
		  <div class="col-12">
		    <label for="memEmail" class="form-label">이 메 일</label>
		    <input type="email" class="form-control" th:field="*{memEmail}"  placeholder="이메일을 입력하세요." >
			<div class="hasError" th:if="${#fields.hasErrors('memEmail')}" th:errors="*{memEmail}"></div>
		  </div>
		  
		  <div class="d-grid gap-2 col-12" >
		   <!--  버튼클릭하나로 모든 데이터 가져가야하므로 무조건 submit!  -->
		    <button type="submit" class="btn btn-primary" >회원가입</button>
		    <button type="button" class="btn btn-primary" onclick="checkValid();">회원가입</button>
		  </div>
		</form>
	  </div>      
    </div>
  </div>
</div>
<!-- 회원가입 모달 끝 -->

<!-- 주소 API  -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" th:src="@{/js/common/home_Login.js}"></script>

</div>
</html>