<!-- 풀캘린더 테스트  -->
<!DOCTYPE html>

<html lang='en' xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
</th:block>
<!-- <link rel="stylesheet"  th:href="@{}"> 외부 css 파일 불러오겠다  rel은 고정
 --><link  href='/fullcalendar-5.11.3/lib/main.css' rel='stylesheet' />
  

<div layout:fragment="content"> 
	테스트 중입니다 
	


  <h1>MyCalendar</h1>
  <div id='calendar'></div>
  
  
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src='/fullcalendar-5.11.3/lib/main.js'></script>
  <link  href='/fullcalendar-5.11.3/lib/main.css' rel='stylesheet' />
	 <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar =  new FullCalendar.Calendar
      (calendarEl, {
        initialView: 'dayGridMonth',
      });
      calendar.render();
    });

  </script>

</div>

</html>

