<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<link href="/css/common.css" rel="stylesheet"> <!-- 스태틱 폴더가 기준이 되면 앞에 / 넣어야한다  -->

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body >

<!-- 베이스 레이아웃 기준으로 나온다 
크게 div 3개의 영역으로 나눠 주었다  -->

<!-- 부트의 모든 내용은 콘테이너에 담겨야한다 클래스  -->
<div class="container">

	<div class="row"> <!-- 하나의 행을 만들었다  -->
		<div class="col">
			<div th:replace="fragment/top::top"></div> 
		</div> 

	</div>

	<div class="row"> <!-- 하나의 행을 만들었다  -->
		<div class="col">
			<div layout:fragment="content"></div> 
			
		</div> 
	</div>

	<div class="row"> 
		<div class="col">
			<div th:replace="fragment/footer::footer"></div>
		
		</div>  
	</div>

</div>



</body>
</html>


