<!-- by 유빈 : 시간표 불러오기 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/timetable.css}">
</th:block>

<div layout:fragment="content">
	<!-- 제목줄 -->
	<div align="center"  class="row ">
		<div class="col">
		    <h1>학생 수업 시간표 </h1>
		</div>
	</div>
    
    <!-- 로그인 시 :학생 혹은 관리자 권한  -->
    <div class="col mt-5" align="center"  sec:authorize="hasRole('ROLE_STUDENT') OR hasRole('ROLE_ADMIN')">
	    <!-- 타임테이블 영역 -->
	    <div class="row" style="width: 70%;">
	    <!-- 부제목줄 영억 (학번소개 + 다운로드 버튼)-->
	    	<!-- 해당 학생 학번영역 -->
	   	 	<div class="col-8 text-start" style="padding-top: 5px; " > 
		   	 	※ [[${memberVO.memName}]] ( <span sec:authentication="name"></span> ) 님 수업 시간표입니다. 
	   	 	</div>
	   	 	<!-- 다운로드 버튼 영역 -->
	   	 	<div class="col-4  text-end" > 
	   	 		<button type="button" class="btn btn-light" onclick="/timetable/download">PDF 다운로드</button>
	   	 		<!-- <a href="/download/myFile.pdf">구글_파일 다운로드</a> --><!-- 구글링소스 -->
	   	 	 </div>
	   	 	<!-- 테이블 영역 --> 
			<table align="center"  class="col-12 table " style="font-size: 16px;">
				<colgroup>
					<col width="*%">
					<col width="18%">
					<col width="18%">
					<col width="18%">
					<col width="18%">
					<col width="18%" >
				</colgroup>
			  <thead >
			  	<!-- 요일 영역 -->
			    <tr align="center" >
			      <th scope="col"></th>
			      <th scope="col">월</th>
			      <th scope="col">화</th>
			      <th scope="col">수</th>
			      <th scope="col">목</th>
			      <th scope="col">금</th>
			    </tr>
			  </thead>
			  <tbody style="text-align: center;" class="table-group-divider">
			    <tr height="60" class="lecTime">
			      <th  scope="row">9:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">10:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">11:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">12:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">13:00</th>
			     <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">14:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">15:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">16:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">17:00</th>
			     <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="60" class="lecTime">
			      <th scope="row">18:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	<!-- //////////////////////// -->
	
 <script type="text/javascript" th:src="@{/js/timetable/timetable.js}"></script>
	 
</div>
</html>