<!-- by 유빈 : 시간표 불러오기 test 파일임!!! 미사용 -->
<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}">
	
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/timetable.css}">
</th:block>

<div layout:fragment="content">
	제목줄
	<div align="center"  class="row mt-3">
		<div class="col">
		    <h1>Student Timetable</h1>
		</div>
	</div>
    
    //// 미로그인 시/////  
	<div class="row mt-5 " sec:authorize="isAnonymous()">
	    <div  class="col"   style="height:3.0em; background-color: #F7F7F7; text-align: center; padding-top: 1.1rem;"> 로그인 후 조회가능합니다. </div>
	</div>
	
	///// 로그인 시//////
	 로그인 시 1)교직원 어드민 권한 
    <div class="col" align="center"  sec:authorize="hasRole('ROLE_AMDIN')">
    	<div  class="col"   style="height:3.0em; background-color: #F7F7F7; text-align: center; padding-top: 1.1rem;"> 학생권한만 조회가능합니다. </div>
    </div>
    
     로그인 시 2)교수 권한 
    <div class="col" align="center"  sec:authorize="hasRole('ROLE_PROFESSOR')">
    	<div  class="col"   style="height:3.0em; background-color: #F7F7F7; text-align: center; padding-top: 1.1rem;"> 교수님시간표만 조회가능합니다. </div>
    </div>
    
    로그인 시 3)학생 권한 
    <div class="col" align="center"  sec:authorize="hasRole('ROLE_STUDENT') OR hasRole('ROLE_AMDIN')">
	    타임테이블 영역
	    <div style="width: 80%;">
	    	해당 학생 학번영역
	   	 	<div class="col mt-5 text-start" > ※ [ <span sec:authentication="name"></span> ] 님의 시간표입니다. </div>
			<table class="table ">
				<colgroup>
					<col width="*%">
					<col width="18%">
					<col width="18%">
					<col width="18%">
					<col width="18%">
					<col width="18%" >
				</colgroup>
			  <thead >요일 영역
			    <tr align="center" >
			      <th scope="col"></th>
			      <th scope="col">월</th>
			      <th scope="col">화</th>
			      <th scope="col">수</th>
			      <th scope="col">목</th>
			      <th scope="col">금</th>
			    </tr>
			  </thead>
			  <tbody class="table-group-divider">
			    <tr height="80" class="lecTime">
			      <th  scope="row">9:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">10:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">11:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">12:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">13:00</th>
			     <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">14:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">15:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">16:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">17:00</th>
			     <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			    <tr height="80" class="lecTime">
			      <th scope="row">18:00</th>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			      <td></td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	////////////////////////
	
<script type="text/javascript" th:src="@{/js/timetable/timetable.js}"></script>
	
</div>
</html> -->