<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--BY 유빈 -->
<mapper namespace="boardMapper">
	<resultMap type="kh.study.NF.board.vo.BoardVO" id="board">
		<id column="BOARD_NO" 				property="boardNo"/>
		<result column="BOARD_TITLE" 		property="boardTitle"/>
		<result column="BOARD_CONTENT" 		property="boardContent"/>
		<result column="BOARD_WRITER" 		property="boardWriter"/>
		<result column="BOARD_CREATE_DATE"  property="boardCreateDate"/>
		<result column="BOARD_READ_CNT"		property="boardReadCnt"/>
		<result column="CATE_NO" 			property="cateNo"/>
		<result column="REPLY_CNT" 			property="replyCnt"/>
		<result column="IS_SECRERT" 		property="isSecrert"/>
		<result column="IS_NOTICE" 			property="isNotice"/>

		<result column="ROW_NUM" 		property="rowNum"/> 
		<!-- <result column="BOARD_PW" 		property="boardPw"/>  -->
	</resultMap>
	
	<!-- 게시판 카테고리 -->
	 <resultMap type="kh.study.NF.board.vo.BoardCategoryVO" id="cate">
		<id column="CATE_NO" property="cateNo"/>
		<result column="CATE_NAME" property="cateName"/>
		<result column="IS_USE" property="isUse"/>
	</resultMap> 
	
	<!-- 게시글등록 -->	
	 <insert id="insertBoard">
		INSERT INTO BOARD 
			( BOARD_NO 
			, BOARD_TITLE 
			, BOARD_CONTENT 
			, BOARD_WRITER 
			
			, CATE_NO
			, IS_SECRERT
			, IS_NOTICE
			) 
		VALUES(
			( SELECT  NVL ( MAX (TO_NUMBER(BOARD_NO)) , 0 ) + 1  FROM BOARD) 
			, #{boardTitle} 
			, #{boardContent}
			, #{boardWriter}
			
			, #{cateNo}
			, #{isSecrert}
			, #{isNotice}
			)
	</insert> 

<!-- 키워드검색기능 + 게시판목록조회 + 공지사항은 고정(union all사용)-->
	<!-- Board 게시판 소스 참고  -->
	<select id="selectBoardList" resultMap="board">
			SELECT ROW_NUM
			    , BOARD_NO
			    , BOARD_TITLE
			    , BOARD_WRITER
			    , BOARD_CREATE_DATE
			    , IS_SECRERT
				, IS_NOTICE
				,CATE_NO
				,BOARD_READ_CNT
				,REPLY_CNT
			FROM 
			(
			    SELECT ROWNUM AS ROW_NUM
			        , BOARD_NO
				    , BOARD_TITLE
				    , BOARD_WRITER
				    , BOARD_CREATE_DATE
				    , IS_SECRERT
					, IS_NOTICE
					,CATE_NO
					,BOARD_READ_CNT
					,REPLY_CNT
			    FROM
			    (
			    	SELECT BOARD_NO 
							, BOARD_TITLE
						    , BOARD_WRITER
						    , BOARD_CREATE_DATE
						    , IS_SECRERT
							, IS_NOTICE
							,CATE_NO
							,BOARD_READ_CNT
							,(SELECT COUNT(REPLY_NO)
							  FROM BOARD_REPLY
							  WHERE BOARD_NO =BOARD.BOARD_NO) AS REPLY_CNT
					FROM BOARD
					<if test="searchValue != null and !searchValue.equals('')">
						<choose>
							<when test="searchKeyword.equals('ALL')">
								WHERE LOWER(BOARD_TITLE) LIKE '%'||LOWER(#{searchValue})||'%'
								OR LOWER(BOARD_WRITER) LIKE '%'||LOWER(#{searchValue})||'%'
								OR LOWER(BOARD_CONTENT) LIKE '%'||LOWER(#{searchValue})||'%'
							</when>
							<otherwise>
								WHERE LOWER(${searchKeyword}) LIKE '%'||LOWER(#{searchValue})||'%'
							</otherwise>
						</choose>
					</if>
				)
					WHERE IS_NOTICE='Y'
					ORDER BY TO_NUMBER(BOARD_NO) DESC
			  )
			
			WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
			
			UNION ALL  
			
			SELECT ROW_NUM
			    , BOARD_NO
			    , BOARD_TITLE
			    , BOARD_WRITER
			    , BOARD_CREATE_DATE
			    , IS_SECRERT
				, IS_NOTICE
				,CATE_NO
				,BOARD_READ_CNT
				,REPLY_CNT
			FROM 
			(
			    SELECT ROWNUM AS ROW_NUM
			        , BOARD_NO
				    , BOARD_TITLE
				    , BOARD_WRITER
				    , BOARD_CREATE_DATE
				    , IS_SECRERT
					, IS_NOTICE
					,CATE_NO
					,BOARD_READ_CNT
					,REPLY_CNT
			    FROM
			    (
			    	SELECT BOARD_NO 
							, BOARD_TITLE
						    , BOARD_WRITER
						    , BOARD_CREATE_DATE
						    , IS_SECRERT
							, IS_NOTICE
							,CATE_NO
							,BOARD_READ_CNT
							,(SELECT COUNT(REPLY_NO)
							  FROM BOARD_REPLY
							  WHERE BOARD_NO =BOARD.BOARD_NO) AS REPLY_CNT
					FROM BOARD
					<if test="searchValue != null and !searchValue.equals('')">
						<choose>
							<when test="searchKeyword.equals('ALL')">
								WHERE LOWER(BOARD_TITLE) LIKE '%'||LOWER(#{searchValue})||'%'
								OR LOWER(BOARD_WRITER) LIKE '%'||LOWER(#{searchValue})||'%'
								OR LOWER(BOARD_CONTENT) LIKE '%'||LOWER(#{searchValue})||'%'
							</when>
							<otherwise>
								WHERE LOWER(${searchKeyword}) LIKE '%'||LOWER(#{searchValue})||'%'
							</otherwise>
						</choose>
					</if>
					 )
					 WHERE IS_NOTICE='N'
					ORDER BY TO_NUMBER(BOARD_NO) DESC
			    
			)
			WHERE ROW_NUM &gt;= #{startNum} AND ROW_NUM &lt;= #{endNum}
			
		</select>
	<!-- 끝 -->		
	
	<!-- 게시글 상세조회 -->
	 <select id="selectDetailBoard" resultMap="board">
		SELECT   BOARD_NO
				,BOARD_TITLE
				,BOARD_CONTENT
				,BOARD_WRITER
				,TO_CHAR(BOARD_CREATE_DATE,'YYYY-MM-DD') AS BOARD_CREATE_DATE
		FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</select>  
	
	<!-- 게시글수정 -->
	 <update id="update" >
		UPDATE BOARD
		SET  BOARD_TITLE   = #{boardTitle}
			<!-- ,BOARD_NO = #{boardNo} -->
			,BOARD_CONTENT = #{boardContent}
			,CATE_NO = #{cateNo}
			,IS_SECRERT = #{isSecrert}
			,IS_NOTICE = #{isNotice}
		WHERE BOARD_NO = #{boardNo}
	</update>   
	
	<!-- 글삭제 -->
     <delete id="delete">
		DELETE BOARD
		WHERE BOARD_NO = #{boardNo}
	</delete>  

	<!-- 전체 데이터(게시글) 수 조회 -->
	<select id="selectBoardCnt" resultType="int">
		SELECT COUNT(BOARD_NO)
		FROM BOARD
	</select>
	
<!-- 해당 게시글 조회수 증가 : 이클립스-->
	<update id="updateReadCnt">
		UPDATE BOARD
		SET
		BOARD_READ_CNT = BOARD_READ_CNT + 1
		WHERE BOARD_NO = #{boardNo}
	</update>





 <!-- ///////////////////관리자 모드 게시판//////////////////////////////// -->
	<!--카테고리목록조회 -->
	<select id="selectBoardCate" resultMap="cate">
		SELECT CATE_NO
			 , CATE_NAME
			 , IS_USE
		FROM BOARD_CATEGORY
		ORDER BY CATE_NO
	</select> 
	
	<!--카테고리 사용중인 목록조회 -->
	<select id="selectBoardCateUse" resultMap="cate">
		SELECT CATE_NO
			 , CATE_NAME
			 , IS_USE
		FROM BOARD_CATEGORY
		where IS_USE='Y'
		ORDER BY CATE_NO
	</select> 
	
	<!-- 카테고리 등록 -->
	<insert id="insertBoardCate">
		<selectKey resultType="String" keyProperty="cateNo" order="BEFORE">
			SELECT 'CATE' || TO_CHAR(LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CATE_NO,5))),0)+1,3,'0'))
	 		FROM BOARD_CATEGORY	
		</selectKey>
		INSERT INTO BOARD_CATEGORY (
			  CATE_NO
			, CATE_NAME
			, IS_USE
		) VALUES (
			  #{cateNo}
			, #{cateName}
			, #{isUse}
		)
	</insert>
	
</mapper> 
























