<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!--by수경 학생의 휴학, 복학, 전과 복수전공 신청 및 관리자 승인을 위한 mapper입니다.-->
<!--by수경 deptManage mapper입니다.  -->
<mapper namespace="deptManage">
<resultMap type="kh.study.NF.dept.vo.DeptManageVO" id="deptManage">
<id column="APPLY_NO" property="applyNo"/>
<result column="STU_NO" property="stuNo"/>
<result column="APPLY_CODE" property="applyCode"/>
<result column="APPLY_DATE" property="applyDate"/>
<result column="APPLY_REASON" property="applyReason"/>
<result column="APPROVAL_DATE" property="approvalDate"/>
<result column="PROCESS_STATUS" property="processStatus"/>
<result column="FROM_COLL" property="fromColl"/>
<result column="FROM_DEPT" property="fromDept"/>
<result column="TO_COLL" property="toColl"/>
<result column="TO_DEPT" property="toDept"/>
<result column="DOUBLE_MAJOR_COLL" property="doubleMajorColl"/>
<result column="DOUBLE_MAJOR_DEPT" property="doubleMajorDept"/>
</resultMap>

<!-- by수경 STU테이블의 mapper입니다.  -->
<resultMap type="kh.study.NF.student.vo.StudentVO" id="student">
<id column="STU_NO" property="stuNo"/>
<result column="COLL_NO" property="collNo"/>
<result column="MAJOR_CODE" property="majorCode"/>
<result column="DOUBLE_CODE" property="doubleCode"/>
<result column="STU_YEAR" property="stuYear"/>
<result column="STU_SEM" property="stuSem"/>
<result column="STU_STATUS" property="stuStatus"/>
<result column="MEM_NO" property="memNo"/>
</resultMap>

<!--by수경 member테이블의 mapper입니다. -->
<resultMap type="kh.study.NF.member.vo.MemberVO" id="member">
<id column="MEM_NO" property="memNo"/>
<result column="MEM_PW" property="memPw"/>
<result column="MEM_NAME" property="memName"/>
<result column="MEM_EMAIL" property="memEmail"/>
<result column="MEM_ADDR" property="memAddr"/>
<result column="MEM_ADDR_DETAIL" property="memAddrDetail"/>
<result column="MEM_TELL" property="memTell"/>
<result column="MEM_IMAGE" property="memImage"/>
<result column="MEM_GENDER" property="memGender"/>
<result column="MEM_BIRTH" property="memBirth"/>
<result column="MEM_ROLE" property="memRole"/>
</resultMap>

<!--by수경 colleage테이블의 mapper입니다. -->
<!-- <resultMap type="" id="">
<id column="COLL_NO" property=""/>
<result column="COLL_NAME" property=""/>
</resultMap>
 -->


<!--by수경 dept 테이블의 mapper입니다. -->
<!-- <resultMap type="" id="">
<id column="DEPT_NO" property=""/>
<result column="DEPT_NAME" property=""/>
<result column="COLL_NO" property=""/>
</resultMap> -->





<!-- by수경 학생의 휴학신청 페이지  -->
<!-- <select id="takeOffUniv" resultMap="">
	SELECT 

</select> -->


</mapper>
























