 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- by: 유빈 부트스트랩 푸터 가져오기 -->
<div th:fragment="footer">


 <footer class="py-5">
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      	<div class="row">
	      	<div class="col" style="font-size: 50px;">
	      		NFU
	     	</div>
		    <div class="row" style="font-size: 10px;">
	    		<div class="col">
	    			Number Five University
	    		</div>
		    </div>
      	
      	</div>
      	<div class="row">
      		<div class="col">
	      	Massachusetts Hall, Cambridge, Massachusetts 02138<p>
	      	(617) 495-1000<p>
	      	</div>
	      	<div class="col">
	      		<p>COPYRIGHT© 2022 Number Five University.<p> All rights reserved.</p>
	      	</div>
	    </div>
    </div>
  </footer>

</div>
</html>