 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- by: 유빈 부트스트랩 푸터 가져오기 -->
<div th:fragment="footer">


 <footer class="mt-4">
    <div class="border-top mt-2">
      	<div class="col mt-4" >
		    <a style="float: right; " href="https://www.facebook.com" target="_blank"><img src="/images/R.png" alt=""  /></a>
		</div>
      	<div class="row">
	      	<div class="col-2" style="font-size: 50px; font-weight: bold; padding-right: 0px;">
	      		NFU
	     	</div>
	     	<div class="col mt-4" style="padding-left: 0px; padding-right: 0px;">
	      		Massachusetts Hall, Cambridge, Massachusetts 02138
	      	</div>
	      	<div class="col mt-4" style="padding-left: 0px;">
	      		COPYRIGHT© 2022 Number Five University.
	      	</div>
		    <div class="row" style="font-size: 5px; padding-top: 0px;">
    		<div class="col">
    			Number Five University
    		</div>
		    
		    </div>
      	</div>
    </div>
  </footer>

</div>
</html>