<!-- by 유빈 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="top">

<!-- 전체영역 -->
<div class="container">
<!-- by 지아 헤더부분만 일단 부트스트랩 적용 -->
<header>
        <div id="topMenuDiv" class="header-area">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_top_wrap d-flex justify-content-between align-items-center">
                                <div class="text_wrap">
                                    <p><span>+880166 253 232</span> <span>info@domain.com</span></p>
                                </div>
                                <div class="text_wrap">
                                    <p><a href="#"> <i class="ti-user"></i>  Login</a> <a href="#">Register</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_wrap d-flex justify-content-between align-items-center">
                                <div class="header_left">
                                    <div class="logo">
                                        <a href="index.html">
                                            <img src="img/logo.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="header_right d-flex align-items-center">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <!-- <li><a href="index.html">home</a></li> -->
                                               <!--  <li><a href="Courses.html">Courses</a></li> -->
                                                <li><a href="#">내정보 <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">내 정보 수정</a></li>
                                                        <li><a href="single-blog.html">비밀번호 변경</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">학사관리 <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="Event.html">휴학 신청</a></li>
                                                        <li><a href="event_details.html">복수전공 신청</a></li>
                                                        <li><a href="Admissions.html">Admissions</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">강의관리 <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="Event.html">강의등록</a></li>
                                                        <li><a href="event_details.html">강의 목록</a></li>
                                                        <li><a href="Admissions.html">Admissions</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">게시판 <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="Event.html">Event</a></li>
                                                        <li><a href="event_details.html">Event Details</a></li>
                                                        <li><a href="Admissions.html">Admissions</a></li>
                                                        <li><a href="elements.html">elements</a></li>
                                                    </ul>
                                                </li>
                                               <!--  <li><a href="contact.html">Contact</a></li> -->
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                                <li><a href="index.html" role="menuitem" tabindex="-1">home</a></li>
                                                <li><a href="Courses.html" role="menuitem" tabindex="-1">Courses</a></li>
                                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row"><a href="#" tabindex="-1">blog <i class="ti-angle-down"></i></a>
                                                    <span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                        <li><a href="blog.html" role="menuitem" tabindex="-1">blog</a></li>
                                                        <li><a href="single-blog.html" role="menuitem" tabindex="-1">single-blog</a></li>
                                                    </ul>
                                                </li>
                                                <li class="slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row"><a href="#" tabindex="-1">pages <i class="ti-angle-down"></i></a>
                                                    <span class="slicknav_arrow">+</span></a><ul class="submenu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                                        <li><a href="Event.html" role="menuitem" tabindex="-1">Event</a></li>
                                                        <li><a href="event_details.html" role="menuitem" tabindex="-1">Event Details</a></li>
                                                        <li><a href="Admissions.html" role="menuitem" tabindex="-1">Admissions</a></li>
                                                        <li><a href="elements.html" role="menuitem" tabindex="-1">elements</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contact.html" role="menuitem" tabindex="-1">Contact</a></li>
                                            </ul></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- 별도 파일 불러오는 영역 -->
<script type="text/javascript" th:src="@{/js/common/top.js}"></script>
</div>
</div>
</html>
	<!-- 첫번째 상단줄 : 로그인 메뉴바 ( shop 가져온 소스 로그인,로그아웃 표시 영역 ) -->
    <div class="row mt-3" style="background-color: white;">
		<div class="col text-end" sec:authorize="isAnonymous()"> 
			📢 로그인이 필요합니다.
			<span data-bs-toggle="modal" data-bs-target="#login_modal" style="color: #3D8361;">LOGIN_Modal</span>
			<button onclick="location.href='/login';"  type="submit"  class="btn btn-light">LOGIN</button>
		</div>
		<div class="col text-end" sec:authorize="isAuthenticated()" >
			<!-- 아래 sec 데이터값은 아이디값을 추출되기때문에 span태그 사이에 다른 문자열을 넣을 수 없다. -->
			<!-- 그래서 이어서 문자열을 작성하려면 span태그 밖에서 작성하도록 한다.  -->
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
			  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
			  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
			</svg>
			[ <span sec:authentication="name"></span>	] <span th:text="${#authentication.authorities}"> </span> 님 
			<!-- 로그아웃 컨트롤러는 시큐리티에서 자동으로 호출되기때문에 컨트롤러나 form태그 작성 불필요 -->
			<!-- 단순히 a태그나 버튼으로 경로이동만 시켜주면 된다! --> 
			<button onclick="location.href='/logout';" sec:authorize="isAuthenticated()" type="submit"  class="btn btn-light">LOGOUT</button>
		</div>
	</div>
	
	<!-- login 클릭시 실행 Modal  -->
		<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">L O G I N</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
				<form class="row g-3" name="formLogin" method="post" action="/member/homeLogin" >
				  <div class="mb-3">
				    <label for="memberId" class="form-label" >학번 / 교번</label>
				    <input id="memNo" type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="학번 및 교번을 입력하세요."  >
				  </div>
				  <div class="mb-3">
				    <label for="memberPw" class="form-label">PASSWORD</label>
				    <input type="password" class="form-control" name="password"  id="memPw" placeholder="비밀번호를 입력하세요.">
				  </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Login</button> <!-- 버튼클릭하면 404에러뜸. 페이지못찾음-> 시큐리티config에서 설정??? -->
			        <!-- <button type="button" class="btn btn-primary" onclick="goLogin();">AjaxLogin</button> --> <!-- ajax로 넘기면 시큐리티 username,password어떻게 들고가지? 그리고나서 ajax로 넘기면 error 경고창뜸... -->
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- end -->



	<!-- 두번째 상단줄 : 로고 이미지 + 권한별 메뉴바 -->	
	<div class="row">
		<div class="col-12">
		
		<!-- 인증과 권한이 없는 누구에게나 표시되는 탑 메뉴바 -->
		<header sec:authorize="isAnonymous()"  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      <div class="row">
			<div class="col-4">
		      <a href="/member/homeLogin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
		        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
		        <span class="fs-4" >
			        <img src="/images/nfLogoTOP.png" width="15%;" height="10%;"/>
			        &nbsp; &nbsp; NFU University
		   		</span>
		      </a>
	     </div> 
	     <div class="col-8">
	      <ul class="nav nav-pills">
	        <li class="nav-item"><a href="/member/intro" class="nav-link active" aria-current="page">학교 소개</a></li>
	        <li class="nav-item"><a href="/board/list" class="nav-link">공통 게시판</a></li>
	      </ul>
	      </div>
		</div>
	    </header>
	    
		<!-- 학생의 경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_STUDENT')"  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      <a href="/member/homeLogin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
	        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
	        <span class="fs-4" >
			        <img src="/images/nfLogoTOP.png" width="15%;" height="10%;"/>
			        &nbsp; &nbsp; NFU University
		    </span>
	      </a>
			<!--by 유빈  탑에 넣은 숏버전 이미지 삽입할 때 <img width="30%" height="30%" src="/images/LFU logo short ver.png " /> -->
	      <ul class="nav nav-pills">
	        <li class="nav-item"><a href="/member/myinfo" class="nav-link active" aria-current="page">나의 정보 관리</a></li>
	        <li class="nav-item"><a href="/proF/viewLecList" class="nav-link">강의관리</a></li>
	        <li class="nav-item"><a href="#" class="nav-link">학적관리</a></li>
	        <li class="nav-item"><a href="#" class="nav-link">신청내역조회</a></li>
	        <li class="nav-item"><a href="/board/list" class="nav-link">공통 게시판</a></li>
	      </ul>
	    </header>
	    
		<!-- 교직원(관리자)경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_ADMIN')"  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      <a href="/member/homeLogin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
	        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
	        <span class="fs-4" >
				<img src="/images/nfLogoTOP.png" width="15%;" height="10%;"/>
		    </span>
	      </a>
	        
			<!--by 유빈  탑에 넣은 숏버전 이미지 삽입할 때 <img width="30%" height="30%" src="/images/LFU logo short ver.png " /> -->
	      <ul class="nav nav-pills">
	        <li class="nav-item"><a href="/member/myinfo" class="nav-link active" aria-current="page">회원 정보 관리</a></li>
	        <li class="nav-item"><a href="/member/regMemForm" class="nav-link">회원등록</a></li>
	        <li class="nav-item"><a href="/board/boardAdmin" class="nav-link">관리자_게시판</a></li>
	        <li class="nav-item"><a href="#" class="nav-link">신청내역조회</a></li>
	        <li class="nav-item"><a href="/board/list" class="nav-link">공통 게시판</a></li>
	      </ul>
	    </header>
	    
	    <!-- 교수님의 경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_PROFESSOR')"  class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
	      <a href="/member/homeLogin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
	        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
	        <span class="fs-4" >
			    <img src="/images/nfLogoTOP.png" width="10%;" height="10%;"/>
			       NFU University
		    </span>
	      </a>
			<!--by 유빈  탑에 넣은 숏버전 이미지 삽입할 때 <img width="30%" height="30%" src="/images/LFU logo short ver.png " /> -->
	      <ul class="nav nav-pills">
	        <li class="nav-item"><a href="/member/myinfo" class="nav-link active" aria-current="page">나의 정보 관리</a></li>
	        <li class="nav-item"><a href="/proF/viewLecList" class="nav-link">강의관리</a></li>
	        <li class="nav-item"><a href="#" class="nav-link">학적관리</a></li>
	        <li class="nav-item"><a href="#" class="nav-link">신청내역조회</a></li>
	        <li class="nav-item"><a href="/board/list" class="nav-link">게시판</a></li>
	      </ul>
	    </header>
		</div>
	</div>    
</div>