<!-- by 유빈 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="top">

<!-- 전체영역 -->
<div class="container">
	<!-- 첫번째 상단줄 : 로그인 메뉴바 ( shop 가져온 소스 로그인,로그아웃 표시 영역 ) -->
    <div class="row sticky" style="background-color: rgba( 255, 255, 255, 0.5 );">
		<div class="col mt-1 mb-1 text-end" sec:authorize="isAnonymous()" style="font-weight: bold;"> 
			📢 로그인이 필요합니다.
			<span data-bs-toggle="modal" data-bs-target="#login_modal" style="color: #3D8361; font-weight: bold;">LOGIN</span>
			<!-- <button onclick="location.href='/login';"  type="submit"  class="btn btn-light">LOGIN</button> -->
		</div>
		<div class="col mt-1 mb-1 text-end" sec:authorize="isAuthenticated()"  style="font-weight: bold;">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
			  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
			  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
			</svg>
			<!--  에러발생!!! 이유: memberVO 객체 th문법 각 content페이지마다 컨트롤러 매개변수때문인듯... 페이지마다 오류발생/미발생이 있음.-->
			 <!-- 대괄호 두개+ 달러 + { memberVO.memName } +  -->
			 <span> <!-- 여기 member객체가져와서 이름가져오는 자리!! 컨트롤러에 던져줘야함!!! shop에서 가져오기 --></span>
			 ( <span sec:authentication="name"></span> ) 님 &nbsp;
			<span onclick="location.href='/logout';" type="submit"  style="color: #3D8361; font-weight: bold;">LOGOUT</span>
		</div>
	</div>
	
	<!-- login 클릭시 실행 Modal  -->
		<div class="modal fade" id="login_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">L O G I N</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body">
				<form class="row g-3" name="formLogin" method="post" action="/member/homeLogin" >
				  <div class="mb-3">
				    <label for="memberId" class="form-label" >학번 / 교번</label>
				    <input id="memNo" type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="학번 및 교번을 입력하세요."  >
				  </div>
				  <div class="mb-3">
				    <label for="memberPw" class="form-label">PASSWORD</label>
				    <input type="password" class="form-control" name="password"  id="memPw" placeholder="비밀번호를 입력하세요.">
				  </div>
				  <!-- 비밀번호 이메일로 찾기 :임시비밀번호발급 -->
				  <div class="mb-3">
				 		<a data-bs-toggle="modal" data-bs-target="#myModal" style="color: #3D8361; font-weight: bold;">비밀번호찾기</a>
				  </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			        <button type="submit" class="btn btn-primary">Login</button> <!-- 버튼클릭하면 404에러뜸. 페이지못찾음-> 시큐리티config에서 설정??? -->
			        <!-- <button type="button" class="btn btn-primary" onclick="goLogin();">AjaxLogin</button> --> <!-- ajax로 넘기면 시큐리티 username,password어떻게 들고가지? 그리고나서 ajax로 넘기면 error 경고창뜸... -->
			      </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	<!-- end -->


	<!-- 두번째 상단줄 : 로고 이미지 + 권한별 메뉴바 -> by수경 로고와 대학이름은 고정 권한별 메뉴바만 따로 묶었습니다.-->	
	<div class="row">
		<div class="col-3 mb-5">
			<a href="/member/homeLogin" class="d-flex align-items-center mb-md-0 me-md-auto text-dark text-decoration-none">
			<!-- <svg width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
			   <span style="font-size: 32px; font-weight: bold;">
			   	<img src="/images/nfLogoTOP.png" width="30%;" height="20%;"/>
			    NFU 
				</span>
			</a>
		</div>

		<div class="col-9 mb-5 text-end" style="padding-right: 0px;">
			<!-- 인증과 권한이 없는 누구에게나 표시되는 탑 메뉴바 -->
			<header sec:authorize="isAnonymous()" >
				<ul class="nav topNav">
				    <li><a href="#">대학/대학원</a></li>
				    <li><a href="#" class="nav-link">입학/취업</a></li>
				    <li><a href="/board/list">게시판</a></li>
				    <li><a href="#">대학생활</a></li>
				    <li><a href="#">국제교류</a></li>
				    <li><a href="#">공지/참여</a></li>
				    <li><a href="#">홍보센터</a></li>
				    <li><a href="#">Chatting</a></li>
				    
				</ul>
		    </header>

		<!-- 학생의 경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_STUDENT')">
			<!--by 유빈  탑에 넣은 숏버전 이미지 삽입할 때 <img width="30%" height="30%" src="/images/LFU logo short ver.png " /> -->
				<ul class="nav topNav">
				    <li>
						 <a href="#">내정보관리</a>
						<div class="nav-column topNav_column">
							<ul>
							    <li><a href="#">내정보조회</a></li>
							    <li><a href="#">내정보수정</a></li>
							    <li><a href="/timetable/load">시간표조회</a></li>
							</ul>
						</div>
				    </li>
				    <li>
						<a href="/stu/takeOffUniv" class="nav-link">학적관리</a>
						<div class="nav-column topNav_column">
							 <ul>
							     <li><a href="/stu/takeOffUniv">휴학신청</a></li>
							     <li><a href="/stu/returnUniv">복학신청</a></li>
							     <li><a href="/stu/changeMajor">전과신청</a></li>
							     <li><a href="/stu/addMajor">복수전공신청</a></li>
							     <li><a href="/stu/stuApplyList">학적신청현황조회</a></li>
							 </ul>
						</div>
				    </li>
				    <li><a href="#">수강신청</a></li>
				    <li><a href="/board/list">게시판</a></li>
				    <li><a href="#">국제교류</a></li>
				    <li><a href="#">캘린더</a></li>
				    <li><a href="#">입학/취업</a></li>
				    <li><a href="#">Chatting</a></li>
				    
				</ul>
	    </header>
	    
		<!-- 교직원(관리자)경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_ADMIN')">
			<ul class="nav topNav">
				<li><a href="/member/regMemForm">회원등록</a></li>
			    <li>
					 <a href="#">학적변동승인</a>
					<div class="nav-column topNav_column">
						<ul>
						    <li><a href="/emp/takeOffReturnUniv">복학/휴학</a></li>
						    <li><a href="/emp/changeAddMajor">전과/복수전공</a></li>
						    <li><a href="/emp/showKPI">실적현황</a></li>
						</ul>
					</div>
			    </li>
			    <li>
					<a href="/emp/probation">학사경고/제적</a>
					<div class="nav-column topNav_column">
						 <ul>
						     <li><a href="/emp/probation">학사경고</a></li>
						     <li><a href="/emp/stuOut">제적</a></li>
						 </ul>
					</div>
			    </li>
			    <li>
			        <a href="/board/list">게시판</a>
			        <div class="nav-column topNav_column">
						 <ul>
						     <li><a href="#">카테고리등록</a></li>
						     <li><a href="/board/list">게시판</a></li>
					
						 </ul>
					</div>
			    </li>
			    <li><a href="#">캘린더</a></li>
			    <li><a href="#">입학/취업</a></li>
			    <li><a href="#">홍보센터</a></li>
			    <li><a href="#">Chatting</a></li>
			    
			</ul>
	    </header>
	    
	    <!-- 교수님의 경우 top 메뉴바 -->
	    <header sec:authorize="hasRole('ROLE_PROFESSOR')">
			<ul class="nav topNav">
			    <li><a href="#">강의등록</a></li>
			    <li><a href="/timetable/load">강의시간표</a></li>
			    <li><a href="#">성적등록</a></li>
			    <li><a href="/board/list">게시판</a></li>
			    <li><a href="#">캘린더</a></li>
			    <li><a href="#">국제교류</a></li>
			    <li><a href="#">연구산학</a></li>
			    <li><a href="#">Chatting</a></li>
			</ul>
	    </header>
	    </div>
	  </div> 
	</div> 
<!--  ////////////////////////////////////////////////  모달 영역 //////////////////////////////////////////////// - ->
		<!--  스프링부트로 이메일 비밀번호찾기 -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
						<h4>
							<span class="glyphicon glyphicon-lock"></span> [이메일로 비밀번호 찾기]
						</h4>
					</div>
					<div class="modal-body" style="padding: 30px 40px;">
						<div style="color: #ac2925">
							<center>입력된 정보로 임시 비밀번호가 전송됩니다.</center>
						</div>
						<hr>
						<form role="form" th:action="@{/member/checkAndSendEmail}"
							method="post">
							<div class="form-group">
								<label for="userName"><span
									class="glyphicon glyphicon-eye-open"></span> 학번/교번</label> <input
									name="memNo" type="text" class="form-control" id="memNo"
									placeholder="등록된 학번 및 교번을 입력하세요.">
							</div>
							<div class="form-group">
								<label for="userEmail"><span
									class="glyphicon glyphicon-user"></span>이메일</label> <input
									name="memEmail" type="text" class="form-control" id="userEmail"
									placeholder="등록된 이메일을 입력하세요.">
							</div>
							
							<!-- 학번과 이메일이 실제로 있는지 조회후, 있으면 유효 없으면 다시입력하도록한다. -->
							<div align="right" style="margin-top: 15px;">
								<button type="button" class="btn btn-primary"
									id="checkEmailmemNO">check</button>
								<button type="submit" class="btn btn-success btn-block"
									id="checkEmail">전송</button>
							</div>
						</form>
						<hr>
						<div class="text-center small mt-2" id="checkMsg"
							style="color: red"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		
<script type="text/javascript" th:src="@{/js/common/home_Login.js}"></script>
		
<!-- 모달영역 끝////////////////////////////////////////////////////////////////////////////  -->
<!-- 별도 파일 불러오는 영역 -->
<script type="text/javascript" th:src="@{/js/common/top.js}"></script>

</div>
</html>