<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment ="content">
<th:block layout:fragment ="css">
	<link rel ="stylesheet" th:href="@{/css/cartList.css}">
</th:block>
	<!--by수경 학생이 복수전공(전공 하나 더 추가)신청하는 페이지입니다.-->
	
	<div class="row justify-content-center">
		<div class="col mt-5">
			<table class="table table-bordered">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr>
				  <th>이름</th>
				  <td th:text="${stuInfo.memberVO.memName}"></td>
				  <th>학번</th>
			      <td th:text="${stuInfo.stuNo}"></td>
			      <th>학년</th>
			      <td th:text="${stuInfo.stuYear}"></td>
				</tr>
				<tr>
			  	  <th>전공대학</th> 
				  <td th:text="${stuInfo.collVO.collName}"></td>
			   	  <th>전공학과</th> 
			   	  <td th:text="${stuInfo.deptVO.deptName}"></td>
			  	  <th>복수전공</th> 
			      <td></td>
				</tr>
				<tr> 
			     <th>성별</th> 
			     <td th:text="${stuInfo.memberVO.memGender}"></td> 
			     <th>생년월일</th> 
			     <td th:text="${stuInfo.memberVO.memBirth}"></td> 
			     <th>학적상태</th> 
			     <td th:text="${stuInfo.stuStatus}"></td> 
				</tr> 
			</table>
			
			<table class="table table-bordered">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				
				</colgroup>
			   <tr>
				  <th>현재전공대학</th>
				   <td th:text="${stuInfo.collVO.collName}"></td>
				    <th>현재전공학과</th>
			    	<td th:text="${stuInfo.deptVO.deptName}"></td>
			    	 
			    </tr>
				<tr>
		    	  <th>복수전공대학</th> 
			      <td>
					<select class="form-select" onchange="changeColl();">
					  <th:block th:each="coll: ${collList}">
					 	<option th:value=${coll.collNo} th:text="${coll.collName}"></option>
					  </th:block>
					</select>
				
			      </td>
		    	  <th>복수전공학과</th> 
			      <td>
			      <select class="form-select deptList">
					  <th:block th:each="dept: ${deptList}">
						<option th:value=${dept.deptNo} th:text="${dept.deptName}"></option>
					  </th:block>
				  </select>
			      </td>
				</tr>
				<tr> 
			      <th>복수전공 신청사유</th> 
			       <td colspan="3">
			       		<textarea rows="3" name="applyReason"></textarea>
			       </td> 
				</tr> 
			</table>
			<input type="hidden" name="applyCode" value="복수전공">
		</div>
	</div>
	<input type="button" value="신청하기">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/changeMajor.js}"></script>	
</div>



</body>
</html>