<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<meta charset="UTF-8">
<title>[NFU]복수전공 신청</title>
</head> 
<body>
<!--by수경 학생이 복수전공(전공 하나 더 추가)신청하는 페이지입니다.-->

<div layout:fragment ="content">

	<div class="row justify-content-center">
		<div class="col mt-5">
			<table class="table table-bordered text-center">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr>
				  <th>이름</th>
				  <td th:text="${stuInfo.memberVO.memName}"></td>
				  <th>학번</th>
			      <td th:text="${stuInfo.stuNo}"></td>
			      <th>학년</th>
			      <td th:text="${stuInfo.stuYear}"></td>
				</tr>
				<tr>
			  	  <th>전공대학</th> 
				  <td th:text="${stuInfo.collVO.collName}"></td>
			   	  <th>전공학과</th> 
			   	  <td th:text="${stuInfo.deptVO.deptName}"></td>
			  	  <th>복수전공</th> 
			      <td th:text="${stuInfo.doubleNo}"></td>
				</tr>
				<tr> 
			     <th>성별</th> 
			     <td th:text="${stuInfo.memberVO.memGender}"></td> 
			     <th>생년월일</th> 
			     <td th:text="${stuInfo.memberVO.memBirth}"></td> 
			     <th>학적상태</th> 
			     <td th:text="${stuInfo.stuStatus}"></td> 
				</tr> 
			</table>
			
			<table class="table table-bordered text-center">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
			   <tr>
				  <th>현재전공대학</th>
				   <td th:text="${stuInfo.collVO.collName}"></td>
				    <th>현재전공학과</th>
			    	<td th:text="${stuInfo.deptVO.deptName}"></td>
			    </tr>
				<tr>
		    	  <th>복수전공대학</th> 
			      <td>
					<select class="form-select" onchange="changeColl();" id="coll">
						<option selected value="">전체</option>
					  <th:block th:each="coll: ${collList}">
					 	<option th:value=${coll.collNo} th:text="${coll.collName}"></option>
					  </th:block>
					</select>
				
			      </td>
		    	  <th>복수전공학과</th> 
			      <td>
			      <select class="form-select deptList" id="dept">
			      	<option selected value="">전체</option>
					  <th:block th:each="dept: ${deptList}">
						<option th:value=${dept.deptNo} th:text="${dept.deptName}"></option>
					  </th:block>
				  </select>
			      </td>
				</tr>
				<tr> 
			      <th>복수전공 신청사유</th> 
			       <td colspan="3">
			       		<textarea rows="3" id="applyReason" class="form-control"
						required placeholder="복수전공 신청 사유를 작성하세요."></textarea>
			       </td> 
				</tr> 
			</table>
			<input type="hidden" name="applyCode" id="applyCode" value="doubleMajor">
			<input type="hidden" th:value="${stuInfo.collNo}" id="collNo">
			<input type="hidden" th:value="${stuInfo.deptNo}" id="deptNo">
			<input type="hidden" name="stuNo" th:value="${stuInfo.stuNo}" id="stuNo">
		</div>
	</div>
	
	<th:block th:if="${stuInfo.doubleNo eq null}">
	<div class="row">
		<div class="col mt-4 text-center">
			<input type="button" class="btn btn-primary" value="복수전공신청" th:onclick="applyAddMajor();">
		</div>
	</div>	
	</th:block>
	<!-- by수경 복수신청 버튼 클릭 시 유의사항 모달 -->
	<div class="modal fade" id="addMajorModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	    	<div class="modal-header">
		        <h5 class="modal-title" >복수전공신청 유의사항</h5>
		        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		    </div>
	      <div class="modal-body">
	      	<div class="row mb-3" >
		      	<div class="col">
		      	  [[${stuInfo.memberVO.memName}]]님은 2022년 2학기 복수전공 신청을 하셨습니다.<p>
					1.본교의 모든 학부(과)를 복수전공의 대상학과로 개방함(5년제 건축학 전공, 간호학과 제외)
					교직과정을 이수하지 않는 학생이 사범계열 학과를 복수전공하는 것은 불가<p>
					가. 신청자격
					제 1전공(주전공)에서 2학기 이상 이수한 자. 단, 교원자격취득을 목적으로 하는 복수전공자는 성적 평점평균이 3.00이상인 자<p>
					나. 신청시기 및 절차<p>
					2학년 1학기 초부터 4학년 2학기 초 공고된 기간 (교원자격증 취득을 위한 복수전공 교직이수자는 3학년 1학기 복수전공 학부(과)에서 선발함)
					통합정보시스템을 이용하여 신청 → 지원서출력 → 제1전공・제2전공 교수서명 → 지원서 제출(제2전공 신청학부(과))(한 학기에 1개 전공 신청 가능)<p>
					다. 편입생의 경우에는 제1전공(주전공)에서 1학기이상 이수 후 신청 가능<p>
					라. 제3전공 신청자격: 제1전공의 전공과목을 18학점이상, 제2전공의 전공학점을 9학점 이상 이수한 자에게 허용함<p>
		      	  	<div class="row text-center">
 						<div class="col">
 							<span><input type="checkbox" id="agreeCheckBox"></span> 동의합니다.
 						</div>
 					</div>		
		      	</div>
	      	</div>
	      	
	       <div class="row">
	       	<div class="col text-center">
	       		<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
	       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
	       		th:onclick="applyResult();">확인</button>

	       
	       		<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" style="--bs-btn-padding-y: .25rem;
	       		 --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">취소</button>
	       	</div>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>	

<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/student/addMajor.js}"></script>	
</div>



</body>
</html>