<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!--by수경 학생이 복학신청하는 페이지입니다. -->

<div layout:fragment ="content">

	<div class="row justify-content-center">
		<div class="col mt-5">
			<table class="table table-bordered">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr>
				  <th>이름</th>
				  <td th:text="${stuInfo.memberVO.memName}"></td>
				  <th>학번</th>
			      <td th:text="${stuInfo.stuNo}"></td>
			      <th>학년</th>
			      <td th:text="${stuInfo.stuYear}"></td>
				</tr>
				<tr>
			  	  <th>전공대학</th> 
				  <td th:text="${stuInfo.collVO.collName}"></td>
			   	  <th>전공학과</th> 
			   	  <td th:text="${stuInfo.deptVO.deptName}"></td>
			  	  <th>복수전공</th> 
			      <td></td>
				</tr>
				<tr> 
			     <th>성별</th> 
			     <td th:text="${stuInfo.memberVO.memGender}"></td> 
			     <th>생년월일</th> 
			     <td th:text="${stuInfo.memberVO.memBirth}"></td> 
			     <th>학적상태</th> 
			     <td th:text="${stuInfo.stuStatus}" id="stuStatus"></td> 
				</tr> 
			</table>
			<input type="hidden" name="applyCode" value="복학">
			<input type="hidden" th:value="${stuInfo.collNo}" id="collNo">
			<input type="hidden" th:value="${stuInfo.deptNo}" id="deptNo">
			<input type="hidden" name="stuNo" th:value="${stuInfo.stuNo}" id="stuNo">
		</div>
	</div>
	
<!--by.수경 복학신청 버튼이 재학중인 학생에게는 복학신청 버튼이 보이지 않도록 하고,
		 	휴학생이면 복학신청 버튼이 보이도록 구현 -->
	
	<th:block th:if="${stuInfo.stuStatus == '휴학'}">
	<div class="row">
		<div class="col mt-4 text-center">
			<input type="button" value="복학신청" th:onclick="applyReturnUniv();" >
		</div>
	</div>	
	</th:block>
	

	<!-- by수경 복학신청 버튼 클릭 시 유의사항 모달 -->
	<div class="modal fade" id="returnUnivModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<div class="row mb-3" >
		      	<div class="col text-center">
		      	  복학신청 유의사항
		      	  1. [[${stuInfo.memberVO.memName}]]님은 2022년도 2학기 복학신청 대상자입니다.
		      	</div>
	      	</div>
	      	
	       <div class="row">
	       	<div class="col text-center">
	       		<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
	       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
	       		th:onclick="applyResult();">확인</button>
	       
	       		<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" 
	       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;" data-origin-amount="" id="cancelBtn">취소</button>
	       	</div>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>		

	<!--by수경 복학신청 완료 후 모달창 -->
	<div class="modal fade" id="applyResultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<div class="row mb-3" >
		      	<div class="col text-center">
		      	   [[${stuInfo.memberVO.memName}]]님의 복학신청이 완료 되었습니다.
		      	</div>
	      	</div>
	      	
	       <div class="row">
	       	<div class="col text-center">
	       		<button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
	       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
	       		th:onclick="nextPage();">확인</button>
	       	</div>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>					
	</form>

<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/student/returnUniv.js}"></script>	
</div>

</body>
</html>