<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment ="content">
<th:block layout:fragment ="css">
	<link rel ="stylesheet" th:href="@{/css/cartList.css}">
</th:block>
<!--by수경 학생의 전공학과 변경(전과), 휴학신청, 복학신청, 복수전공(전공 하나 더) 신청 현황을 모아 둔 페이지입니다.-->
	
	<div class="row justify-content-center">
		휴학신청 현황	
		<div class="row">
			<div class="col">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
				</table>
			</div>		
		</div>		
	
		복학신청 현황
		<div class="row">
			<div class="col">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
				</table>
			</div>		
		</div>	
	
		전과신청 현황	
		<div class="row">
			<div class="col">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>변경전공대학</th>
					  <th>변경전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
				</table>
			</div>		
		</div>	
		
		복수전공신청 현황	
		<div class="row">
			<div class="col">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>신청전공대학</th>
					  <th>신청전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
				</table>
			</div>		
		</div>		
	</div>
</div>

</body>
</html>