<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>[NFU]휴학, 복학, 전과, 복수전공 신청현황</title>
</head>
<body>

<div layout:fragment ="content">
<!--by수경 학생의 전공학과 변경(전과), 휴학신청, 복학신청, 복수전공(전공 하나 더) 신청 현황을 모아 둔 페이지입니다.-->
	
	<div class="row justify-content-center">
		<div class="row mt-3">	
			<div class="col mb-2">
				<h5>1. 휴학신청 현황</h5>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col mb-4">
				<table class="table table-bordered text-center">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					
					<th:block th:if="${#lists.size(takeOffList) == 0}">
					    <tr>
					      <td colspan="6">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
					
					<th:block th:if="${#lists.size(takeOffList) != 0}">
						<tr th:each="takeOff, status :${takeOffList}">
					      <td th:text="${#lists.size(takeOffList) - status.index}"></td>
					      <td th:text="${takeOff.fromColl}"></td>
					      <td th:text="${takeOff.fromDept}"></td>
					      <td th:text="${takeOff.applyDate}"></td>
					      <td th:text="${takeOff.approvalDate}"></td>
					      <td th:text="${takeOff.processStatus}"></td>
						</tr>
					</th:block>
				</table>
			</div>		
		</div>		
	
		<div class="row mt-3">	
			<div class="col mb-2">
			 	<h5>2. 복학신청 현황</h5>
			</div>
		</div>
		
		<div class="row mt-2">
			<div class="col mb-4">
				<table class="table table-bordered text-center">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				    <th:block th:if="${#lists.size(comebackList) == 0}">
					    <tr>
					      <td colspan="6">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
				    
				     <th:block th:if="${#lists.size(comebackList) != 0}">
					<tr th:each="comeback, status :${comebackList}">
				      <td th:text="${#lists.size(comebackList) - status.index}"></td>
				      <td th:text="${comeback.fromColl}"></td>
				      <td th:text="${comeback.fromDept}"></td>
				      <td th:text="${comeback.applyDate}"></td>
				      <td th:text="${comeback.approvalDate}"></td>
				      <td th:text="${comeback.processStatus}"></td>
					</tr>
					</th:block>
				</table>
			</div>		
		</div>	
		
		<div class="row mt-3">	
			<div class="col mb-2">
				<h5> 3. 전과신청 현황 </h5>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col mb-4">
				<table class="table table-bordered text-center">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>변경전공대학</th>
					  <th>변경전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				   
				    <th:block th:if="${#lists.size(changeMajorList) == 0}">
					    <tr>
					      <td colspan="8">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
					 <th:block th:if="${#lists.size(changeMajorList) != 0}">
						<tr th:each="changeMajor, status :${changeMajorList}">
					      <td th:text="${#lists.size(changeMajorList) - status.index}"></td>
					      <td th:text="${changeMajor.fromColl}"></td>
					      <td th:text="${changeMajor.fromDept}"></td>
					      <td th:text="${changeMajor.toColl}"></td>
					      <td th:text="${changeMajor.toDept}"></td>
					      <td th:text="${changeMajor.applyDate}"></td>
					      <td th:text="${changeMajor.approvalDate}"></td>
					      <td th:text="${changeMajor.processStatus}"></td>
						</tr>
					</th:block>
				</table>
			</div>		
		</div>
			
		<div class="row mt-3">	
			<div class="col mb-2">
				<h5> 4. 복수전공신청 현황 </h5>
			</div>
		</div>
		
		<div class="row mt-2">
			<div class="col mb-4">
				<table class="table table-bordered text-center">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>복수전공대학</th>
					  <th>복수전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
			
				<th:block th:if="${#lists.size(doubleMajorList) == 0}">
				    <tr>
				      <td colspan="8">
				      	<span>신청한 내역이 없습니다.</span>
				      </td>
				    </tr>  
				</th:block>
				
				<th:block th:if="${#lists.size(doubleMajorList) != 0}">
					<tr th:each="doubleMajor, status : ${doubleMajorList}">
				      <td th:text="${#lists.size(doubleMajorList) - status.index}"></td>
				      <td th:text="${doubleMajor.fromColl}"></td>
				      <td th:text="${doubleMajor.fromDept}"></td>
				      <td th:text="${doubleMajor.doubleMajorColl}"></td>
				      <td th:text="${doubleMajor.doubleMajorDept}"></td>
				      <td th:text="${doubleMajor.applyDate}"></td>
				      <td th:text="${doubleMajor.approvalDate}"></td>
				      <td th:text="${doubleMajor.processStatus}"></td>
					</tr>
				</th:block>
			</table>
			</div>		
		</div>		
	</div>
</div>

</body>
</html>