<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment ="content">
<th:block layout:fragment ="css">
	<link rel ="stylesheet" th:href="@{/css/cartList.css}">
</th:block>
<!--by수경 학생의 전공학과 변경(전과), 휴학신청, 복학신청, 복수전공(전공 하나 더) 신청 현황을 모아 둔 페이지입니다.-->
	
	<div class="row justify-content-center">
		<div class="col text-center">
			<H5>휴학신청 현황</H5>
		</div>
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
					
					<th:block th:if="${applyCodeMap['takeOff']== 0}">
					    <tr>
					      <td colspan="6">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
					
					<th:block th:unless ="${applyCodeMap['takeOff'] == 0}">
						<tr th:each="applyInfo, status :${applyList}" th:if="${applyInfo.applyCode eq 'takeOff'}">
					      <td th:text="${status.count}"></td>
					      <td th:text="${applyInfo.fromColl}"></td>
					      <td th:text="${applyInfo.fromDept}"></td>
					      <td th:text="${applyInfo.applyDate}"></td>
					      <td th:text="${applyInfo.approvalDate}"></td>
					      <td th:text="${applyInfo.processStatus}"></td>
						</tr>
					</th:block>
				</table>
			</div>		
		</div>		
	
		<div class="col text-center">
			<H5>복학신청 현황</H5>
		</div>
		
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				    <th:block th:if="${applyCodeMap['comeback'] ==0}">
					    <tr>
					      <td colspan="6">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
				    
				    <th:block th:unless="${applyCodeMap['comeback'] == 0}">
					<tr th:each="applyInfo, status :${applyList}" th:if="${applyInfo.applyCode eq 'comeback'}">
				      <td th:text="${status.count}"></td>
				      <td th:text="${applyInfo.fromColl}"></td>
				      <td th:text="${applyInfo.fromDept}"></td>
				      <td th:text="${applyInfo.applyDate}"></td>
				      <td th:text="${applyInfo.approvalDate}"></td>
				      <td th:text="${applyInfo.processStatus}"></td>
					</tr>
					</th:block>
				</table>
			</div>		
		</div>	
		<div class="col text-center">
			<H5>전과신청 현황</H5>
		</div>
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>변경전공대학</th>
					  <th>변경전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				   
				    <th:block th:if="${applyCodeMap['changeMajor'] == 0}">
					    <tr>
					      <td colspan="8">
					      	<span>신청한 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
					<th:block th:unless="${applyCodeMap['changeMajor'] ==0 }">
						<tr th:each="applyInfo, status :${applyList}" th:if="${applyInfo.applyCode eq 'changeMajor'}">
					      <td th:text="${status.count}"></td>
					      <td th:text="${applyInfo.fromColl}"></td>
					      <td th:text="${applyInfo.fromDept}"></td>
					      <td th:text="${applyInfo.toColl}"></td>
					      <td th:text="${applyInfo.toDept}"></td>
					      <td th:text="${applyInfo.applyDate}"></td>
					      <td th:text="${applyInfo.approvalDate}"></td>
					      <td th:text="${applyInfo.processStatus}"></td>
						</tr>
					</th:block>
				</table>
			</div>		
		</div>
			
		<div class="col text-center">
			<H5>복수전공신청 현황</H5>
		</div>
		
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>복수전공대학</th>
					  <th>복수전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
			
				 <th:block th:if="${applyCodeMap['doubleMajor'] == 0}">
				    <tr>
				      <td colspan="8">
				      	<span>신청한 내역이 없습니다.</span>
				      </td>
				    </tr>  
				</th:block>
				
				<th:block th:if="${applyCodeMap['doubleMajor'] != 0}">
					<tr th:each="applyInfo : ${applyList}" th:if="${applyInfo.applyCode eq 'doubleMajor'}">
				      <td th:text="${status.count}"></td>
				      <td th:text="${applyInfo.fromColl}"></td>
				      <td th:text="${applyInfo.fromDept}"></td>
				      <td th:text="${applyInfo.doubleMajorColl}"></td>
				      <td th:text="${applyInfo.doubleMajorDept}"></td>
				      <td th:text="${applyInfo.applyDate}"></td>
				      <td th:text="${applyInfo.approvalDate}"></td>
				      <td th:text="${applyInfo.processStatus}"></td>
					</tr>
				</th:block>
			</table>
			</div>		
		</div>		
	</div>
</div>

</body>
</html>