<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!--by수경 학생이 학교를 휴학신청하는 페이지입니다. -->
<div layout:fragment ="content">
<th:block layout:fragment ="css">
	<link rel ="stylesheet" th:href="@{/css/cartList.css}">
</th:block>
	<form th:action="@{/stu/applyTakeOffUniv}" method="post">
	<div class="row justify-content-center">
			<div class="col mt-5">
			<table class="table table-bordered">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr>
				  <th>이름</th>
				  <td th:text="${stuInfo.memberVO.memName}"></td>
				  <th>학번</th>
			      <td th:text="${stuInfo.stuNo}"></td>
			      <th>학년</th>
			      <td th:text="${stuInfo.stuYear}"></td>
				</tr>
				<tr>
			  	  <th>전공대학</th> 
				  <td th:text="${stuInfo.collVO.collName}"></td>
			   	  <th>전공학과</th> 
			   	  <td th:text="${stuInfo.deptVO.deptName}"></td>
			  	  <th>복수전공</th> 
			      <td></td>
				</tr>
				<tr> 
			     <th>성별</th> 
			     <td th:text="${stuInfo.memberVO.memGender}"></td> 
			     <th>생년월일</th> 
			     <td th:text="${stuInfo.memberVO.memBirth}"></td> 
			     <th>학적상태</th> 
			     <td th:text="${stuInfo.stuStatus}"></td> 
				</tr> 
			</table>
			<table class="table table-bordered">
				<colgroup>
					<col width="15%">
					<col width="85%">
				</colgroup>
				<tr> 
			      <th>휴학 사유</th> 
			       <td>
			       		<textarea rows="3" name="applyReason" required placeholder="휴학 사유를 작성하세요."></textarea>
			       </td> 
				</tr>
			</table>
			<input type="hidden" name="applyCode" value="휴학">
		</div>
	</div>
		
<!--by.수경 휴학신청 버튼이 휴학중이 학생에게는 휴학신청 버튼이 보이지 않도록 하고,
		 	재학생이면 휴학신청 버튼이 보이도록 구현 -->
	
	<th:block th:if="${stuInfo.stuStatus == '재학'}">
	<div class="row">
		<div class="col mt-4 text-center">
			<input type="button" value="휴학신청" >
		</div>
	</div>	
	</th:block>
	</form>

</div>

</body>
</html>