<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 
<th:block layout:fragment="css"> 
<link rel="stylesheet"  th:href="@{}"> 

</th:block>

<div layout:fragment="content"> 
<section class="sec-1 sec-smart-board">
								<!-- 탭 -->
								<ul class="nav nav-tabs" id="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="board-tab-1" data-toggle="tab" href="#board-tabpanel-1" data-selected="true" data-lang="" title="선택됨">학생지원시스템공지</a>
										<div class="tab-content">
											<!-- '학생지원' 탭 패널 -->
											
											<div class="tab-pane fade show active" id="board-tabpanel-1" aria-labelledby="board-tab-1">
												
												
													<ul class="board-list">
														
														
													
														
													</ul>
												
												<a class="more-link" href="javascript:selectMenu('000000000000386');"><span class="sr-only">학생지원시스템공지 바로가기</span></a>
											</div>
									
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="board-tab-2" data-toggle="tab" href="#board-tabpanel-2" data-selected="false" onclick="f_pnuNotice('10');return false;" onkeypress="this.onclick;" data-lang="">대학공지</a>
										<div class="tab-content">
											<!-- '대학공지' 탭 패널 -->
											<div class="tab-pane fade" id="board-tabpanel-2" aria-labelledby="board-tab-2">
												<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
												
											</div>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="board-tab-3" data-toggle="tab" href="#board-tabpanel-3" data-selected="false" onclick="f_getDepartConfig('10');return false;" onkeypress="this.onclick;" data-lang="">학과공지</a>
										<div class="tab-content">
											<!-- '학과공지' 탭 패널 -->
											<div class="tab-pane fade" id="board-tabpanel-3" aria-labelledby="board-tab-3">
												<!-- <a class="more-link" href="#none" aria-label="더보기" title="더보기"></a> -->
												<p class="non-info mb" data-lang="">로그인이 필요한 서비스 입니다.</p>
											</div>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="board-tab-4" data-toggle="tab" href="#board-tabpanel-4" data-selected="false" onclick="f_mainBbsList('4','000000000000062','10');return false;" onkeypress="this.onclick;" data-lang="">장학공지</a>
										<div class="tab-content">
											<!-- '장학공지' 탭 패널 -->
											<div class="tab-pane fade" id="board-tabpanel-4" aria-labelledby="board-tab-4">
												<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
											</div>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="board-tab-5" data-toggle="tab" href="#board-tabpanel-5" data-selected="false" onclick="f_mainBbsList('5','000000000000384','10');return false;" onkeypress="this.onclick;">Q&amp;A</a>
										<div class="tab-content">
											<!-- 'Q&A' 탭 패널 -->
											
											<div class="tab-pane fade" id="board-tabpanel-5" aria-labelledby="board-tab-5">
												<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
											</div>	
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="board-tab-6" data-toggle="tab" href="#board-tabpanel-6" data-selected="false" onclick="f_mainBbsList('6','000000000000385','10');return false;" onkeypress="this.onclick;">FAQ</a>
										<div class="tab-content">
											<!-- 'FAQ' 탭 패널 -->
											
											<div class="tab-pane fade" id="board-tabpanel-6" aria-labelledby="board-tab-6">
												<p class="non-info mb" data-lang="">조회된 게시물이 없습니다.</p>
											</div>
										</div>
									</li>
								</ul>
							</section>
</div>

</html>