<!-- by 지아 수강 신청 페이지입니다-->
<!DOCTYPE html>
<html xmlns:th="http://www.tdymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/tdymeleaf/layout"  
	xmlns:sec="http://www.tdymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 
<td:block layout:fragment="css"> 
<link rel="stylesheet"  td:href="@{}"> 
</td:block>

<div layout:fragment="content" > 
	<style>
		.enroll-list-table{
			font-size: 0.9rem;
		}
		
		.btn{
			font-size: 0.9rem;
			
		}
		/* .face
		.blind{
		line-height: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url("../images/R.png");
    /* background-image: url("../images/nfLogoTOP.png"); 
		}*/ 
	</style>

	<div class="row">
		<div class="col-12">
			<!-- 수강 신청 가능 목록  -->
			<div class="row mb-3">
				<div class="col-12">
					<!-- 검색 조건 영역 -->
					<div  style="height: 50px;">
					<h4>교과목 검색 및 신청</h4>
					</div> 
					<form action="/proF/enrollList" method="post">
						
						<div class="row"  style="height: 70px;">
							<div class="col-12">
								<span>
									<label for="collNo" >단과대학</label>
									<span>
										<select  onchange="changeDept();" class="changeDept"
											name="collNo" id="collNo" style="width: 150px;">
											<option value="" th:selected="${paramMap['collNo'] == null or paramMap['collNo'] == ''}">전체</option>
	
											<option th:each="coll: ${collList}" th:value=${coll.collNo}
												th:selected="${paramMap['collNo'] == coll.collNo}"
												th:text="${coll.collName}"></option>
										</select>
									</span>
								</span>
								<span>
									<label for="deptNo" >소속학과</label>
									<span>
										<select class="changeDeptList" name="deptNo" id="deptNo" style="width: 150px;">
											<option value="" th:selected="${paramMap['deptNo'] == null or paramMap['deptNo'] == ''}">전체 </option>
											<option th:each="dept: ${deptList}" th:value=${dept.deptNo}
											th:selected="${paramMap['deptNo'] == dept.deptNo}"
												th:text="${dept.deptName}"></option>
										</select>
									</span>
								</span>
								
								<input type="text" name="searchValue" placeholder="교과목명과 교수명을 입력해주세요" th:value="${paramMap['searchValue']}" style="width: 300px;"> <!-- 여기에 아무것도 입력을 안하고 검색을 해도 서치벨류라는 이름으로 데이터가 넘어가 그러면 넘어가긴한다 빈값으로   -->
								<input type="submit" value="Search" class="btn btn-primary">
							</div>
						</div>
					</form>
					<!-- 목록 영역 -->	
					<h4>수강신청</h4>
					<div class="row">
						<div class="col-12">
							<table class="table table-striped table-hover text-center align-middle enroll-list-table">
							<!-- 	<colgroup>
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
								</colgroup> -->
								<thead>
									<tr>
										<td>강의코드</td>
										<td>교과목명</td>
										<td>학점</td>
										<td>단과대학</td>
										<td>학과</td>
										<td>교수</td>
										<td>강의 요일/시간</td>
										<td>최대인원</td>
										<td>현재인원</td>
										<td>수강 학기</td>
										<td>수강 신청</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="lec : ${lecList}">
										<td scope="row" th:text="${lec.lecNo}">1</td>
										<td>
											<a th:href="|@{/pdf/}${lec.lecturePdfVO.attachedPdfName}|" th:text="${lec.lecName}" target="_blank"></a>  <!-- 수강신청시 강의자료 열람 -->
										</td>
										<td th:text="${lec.lecScore}"></td>
										<td th:text="${lec.collNo}"></td>
										<td th:text="${lec.deptNo}"></td>
										<td th:text="${lec.empNo}"></td>
										<td th:text="${lec.lectureTimeVO.lastTime}"></td>
										<td th:text="${lec.maxNum}"></td>
										<td th:text="${lec.nowNum}"></td>
										<td th:text="${lec.semNo}"></td>
										
										<!-- <td><input type="button" value="강의 상태 수정"	data-bs-toggle="modal"  data-bs-target="#changeLecModal"></td> -->
										
										<td>
											<input class="btn btn-primary btn-sm" th:classappend="${lec.lecStatus eq 'N' ? 'disabled' : ''}" 
												type="button" value="수강 신청" th:onclick="selectLecEnroll([[${lec.lecNo}]])">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<h4>수강 신청 내역</h4>
			<!-- 학생이 수강신청한 목록  -->
			<div class="row mt-3 mb-3">
				<div class="col-12">
					<table class="table table-striped table-hover text-center align-middle enroll-list-table">
							<!-- 	<colgroup>
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
									<col width="">
								</colgroup> -->
								<thead>
									<tr>
										<td>#</td>
										<td>교과목명</td>
										<td>학점</td>
										<td>단과대학</td>
										<td>학과</td>
										<td>교수</td>
										<td>강의 요일/시간</td>
										<td>최대인원</td>
										<td>현재인원</td>
										<td>수강 학기</td>
										<td>수강 신청</td>
									</tr>
								</thead>
								<tbody>
									<tr th:each="enroll : ${enrollList}">
										<td scope="row" th:text="${enroll.lecNo}">1</td>
										<td>
										<a th:href="@{/proF/download(lecNo = ${enroll.lecNo})}" th:text="${enroll.lectureVO.lecName}" ></a> <!-- 수강신청후 강의자료 다운 -->
										</td>
										<td th:text="${enroll.lectureVO.lecScore}"></td>
										<td th:text="${enroll.lectureVO.collNo}"></td>
										<td th:text="${enroll.lectureVO.deptNo}"></td>
										<td th:text="${enroll.lectureVO.empNo}"></td>
										<td th:text="${enroll.lectureVO.lectureTimeVO.lastTime}"></td>
										<td th:text="${enroll.lectureVO.maxNum}"></td>
										<td th:text="${enroll.lectureVO.nowNum}"></td>
										<td th:text="${enroll.lectureVO.semNo}"></td>
										
										<!-- <td><input type="button" value="강의 상태 수정"	data-bs-toggle="modal"  data-bs-target="#changeLecModal"></td> -->
										
										<td>
											 <input class="btn btn-primary btn-sm" 
												type="button" value="수강 취소" th:onclick="deleteLecEnroll([[${enroll.stuNo}]],[[${enroll.lecNo}]])" > 
												
										</td>
									</tr>
								</tbody>
							</table>
				</div>
			</div>
		
		</div>
	</div>
	    
<!-- 	<a href="https://www.facebook.com/PusanNationalUniv" target="_blank" title="새창열림" class="face"><span class="blind"></span></a>
 --><!-- <span>	<a href="https://www.facebook.com" target="_blank" title="새창열림" class="face"><span class="blind"></span></a></span> -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/js/paginator.js}"></script>

	<script th:src="@{/js/professor/enrollClassList.js}"></script>
	
	
</div>

</html>