
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{}">
	<!-- 외부 css 파일 불러오겠다  rel은 고정 -->

</th:block>

<!-- 고정 페이지와 변동페이지는 다르다  -->
<div layout:fragment="content">

	<style>
div {
	text-align: center;
}
</style>

	<div class="row">
		<!-- <div class="col mb-3" style="height: 50px; text-align:left ;">강의 등록</div> -->
	</div>
	<h4 style="text-align: left;">강의 등록</h4>

	<div class="row">
		<form th:action="@{/proF/regProfLecForm}" method="post" enctype="multipart/form-data" >
			<div class="col">
				<div class="row">

					<div class="mb-3 row">
						<label for="lecName" class="col-sm-4 col-form-label">강의명</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="lecName" name="lecName" required
							>
						</div>
					</div>
					
					<div class="mb-3 row">
						<label for="lecScore" class="col-sm-4 col-form-label">강의
							학점</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" id="lecScore"  name="lecScore" max="4" required
							>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="semNo" class="col-sm-4 col-form-label">강의 학기 </label>
						<div class="col-sm-5">
							<select name="semNo" id="semNo" style="width: 200px;">
								<option th:each="semester: ${semesterList}" th:value=${semester.semNo}
									th:text="${semester.semName}" >  </option>
							</select>
						</div>
					</div>
					
					<div class="mb-3 row">
						<label for="collNo" class="col-sm-4 col-form-label">단과대학</label>
						<div class="col-sm-5">
							<select onchange="changeDept();" class="changeDept" name="collNo" id="collNo" style="width: 200px;">
							<option value="" >전체</option>
								<option th:each="coll: ${collList}" th:value=${coll.collNo}
									th:text="${coll.collName}"></option>
							</select>
						</div>
					</div>
					<div class="mb-3 row">
						<label for="deptNo" class="col-sm-4 col-form-label">소속학과</label>
						<div class="col-sm-5">
							<select class="changeDeptList" name="deptNo" id="deptNo" style="width: 200px;">
								<option value="" >전체 </option>
								<option th:each="dept: ${deptList}" th:value=${dept.deptNo}
									th:text="${dept.deptName}"></option>
							</select>
						</div>
					</div>

	<!-- 				<div class="mb-3 row">
						<label for="empNo" class="col-sm-3 col-form-label">담당교수</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" id="empNo" name="empNo">
						</div>
					</div> -->
					
							<div class="mb-3 row">
						<label for="empNo" class="col-sm-4 col-form-label">담당교수 </label>
						<div class="col-sm-5">
							<select name="empNo" id="empNo" style="width: 200px;">
								<option th:each="emp: ${empList}" th:value=${emp.empNo}
									th:text="${emp.memNo}" >  </option>
							</select>
						</div>
					</div>
					
					<div class="mb-3 row">
						<label for="maxNum" class="col-sm-4 col-form-label">최대 수강신청 인원</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" id="maxNum" name="maxNum" max="50">
						</div>
					</div>
					<!-- <div class="mb-3 row">
						<label for="nowNum" class="col-sm-3 col-form-label">현재 수강 신청 인원</label>
						<div class="col-sm-5">
							<input type="number" class="form-control" id="nowNum" name="nowNum">
						</div>
					</div> -->
				</div>
			</div>
			<div class=" col" style="text-align: left;">
				<h4 style="text-align: left;">강의 상세 등록</h4>

				<div class="mb-5 row">
					<label for="originPdfName" class="col-sm-4 col-form-label">강의
						자료 등록 </label>
					<div class="col-sm-5">
						<input type="file" class="form-control" id="originPdfName" name="PdfName">
					</div>
				</div>

				<div class="mb-5 row">
					<label for="lecDay" class="col-sm-4 col-form-label">강의 날짜 </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="lecDay" name="lecDay" onkeyup="setDisable();">
						<!-- 아직 오브젝트 사용을 안해서 수정필요!!!! -->
					</div>
				</div>
				<div class="mb-5 row">
					<label for="firstTime" class="col-sm-4 col-form-label">강의 시작시간</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="firstTime" name="firstTime" onkeyup="setDisable();">
						<!-- <div th:if="${#fields.hasErrors('lecDay')}" th:errors="*{lecDay}"></div> -->
					</div>
				</div>
				<div class="mb-5 row">
					<label for="lastTime" class="col-sm-4 col-form-label">강의
						마치는 시간 </label>
					<div class="col-sm-5">
						<input type="text" class="form-control" id="lastTime" name="lastTime" onkeyup="setDisable();"> <!-- 키보드 입력시도시 등록버튼이 다시 잠긴다 -->
					</div>
				</div>
			</div>
			<div class="d-grid gap-2 col-6 mx-auto">
				<input type="button" class="form-control" style="width: 500px;"value="시간 체크" onclick="time();"> 
				<input id="regLectureTimeBtn" type="submit" class="form-control" style="width: 500px;"value="등록" disabled> <!--  ajax로 통해 등록하기 버튼이 활성 , 비활성 된다 -->
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" th:src="@{/js/professor/regproFLecture.js}"></script>
</div>
</html>