<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<th:block layout:fragment="css"> 
<link rel="stylesheet"  th:href="@{}"> 
</th:block>

<div layout:fragment="content"> 
	<h5>강의 조회</h5>
	<div style="height: 70px;">
		<form action="/proF/scoreManagement" method="post"> <!--겟 방식으로 보내면 주소창에 뜬다 -->
			<input type="text" placeholder="등록한 교과목명" name="searchValue" th:value="${searchValue}">
			<input type="submit"class="btn btn-primary" value="Search" > 
		</form>
	
	</div>
	<div class="row">
		<div class="col">
			<div><h5>강의 목록</h5> </div>
			<div>
			<table class="table table-primary table-hover" style="text-align: center;"  >
			  <thead>
			    <tr class="table-light">
			      <th scope="col">교과목명</th>
			      <th scope="col">강의 학점</th>
			      <th scope="col">단과대학</th>
			      <th scope="col">학과</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr class="table-light" th:each="lec : ${lecList}">
					<!-- <th scope="row" th:text="${lec.lecNo}">1</th> -->
					<td th:text="${lec.lecName}" th:onclick="selectLecStu([[${lec.lecNo}]]);"></td>
					<td th:text="${lec.lecScore}"></td>
					<td th:text="${lec.collNo}"></td>
					<td th:text="${lec.deptNo}"></td>
			  </tbody>
			</table>
			
			</div>

		</div>
		
		</div>
		<div class="col">
			<div class="col">
			<div><h5>수강 학생</h5> </div>
			
					<div>
			<table class="table table-light table-hover stuListTable" style="text-align: center;"  >
			  <thead>
			    <tr class="table-light">
			      <th  scope="col">학번</th>
			      <th scope="col">이름</th>
			      <th scope="col">성적</th>
			      <th scope="col">등록</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr >
			  </tbody>
			</table>
			
			</div>

		</div>
		</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/js/professor/stuRegistrationScore.js}"></script>

</div>
	

</html>