<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> 

<th:block layout:fragment="css"> <!-- css 정의된 부분이 바뀌면서가져올것이다  -->
<link rel="stylesheet"  th:href="@{}"> <!-- 외부 css 파일 불러오겠다  rel은 고정 -->
</th:block>

<!-- 고정 페이지와 변동페이지는 다르다  -->
<div layout:fragment="content"> 
	점수조회 & 등록 페이지 
	<input type="text" >
	<input type="button" value="검색"> 
	<div class="row">
		<div class="col">강의 목록
			<div>
			<table class="table table-primary table-hover" style="text-align: center;"  >
			  <thead>
			    <tr class="table-light">
			      <th scope="col">강의명</th>
			      <th scope="col">강의 학점</th>
			      <th scope="col">단대</th>
			      <th scope="col">학과</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr class="table-light" th:each="lec : ${lecList}">
					<!-- <th scope="row" th:text="${lec.lecNo}">1</th> -->
					<td th:text="${lec.lecName}" th:onclick="selectLecStu([[${lec.lecNo}]]);"></td>
					<td th:text="${lec.lecScore}"></td>
					<td th:text="${lec.collNo}"></td>
					<td th:text="${lec.deptNo}"></td>
			  </tbody>
			</table>
			
			</div>

		</div>
		
		</div>
		<div class="col">
			<div class="col">수강 학생
					<div>
			<table class="table table-light table-hover stuListTable" style="text-align: center;"  >
			  <thead>
			    <tr class="table-light">
			      <th  scope="col">학번</th>
			      <th scope="col">이름</th>
			      <th scope="col">성적</th>
			      <th scope="col">등록</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr >
					<!-- <th scope="row" th:text="${lec.lecNo}">1</th> -->

			  </tbody>
			</table>
			
			</div>

		</div>
		</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script> -->
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script th:src="@{/js/professor/stuRegistrationScore.js}"></script>

</div>
	

</html>