@charset "UTF-8";
/* by지아 채팅에 적용되는 css입니다 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body
{
   
/*    font-family: 'GangwonEdu_OTFBoldA';
 */
  font-family: 'SuseongBatang';
}
.viewChat
{
   width: 98%;
   height: 400px;
   border-radius: 5px;
   border-color: #D6E4E5;
	
}
.viewChat b{
   word-break:break-all;
   }