<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!--by수경 카카오톡 공유하기로 메세지 전송을 위한 태그 추가  -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
  integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous">
</script>
<script>
  Kakao.init('b37d7c04ed213ae63f82c2037f5b5a6a'); // 사용하려는 앱의 JavaScript 키 입력
</script>
<meta charset="UTF-8">
<title>[NFU]학사경고 관리자 페이지</title>
</head>
<body>

<div layout:fragment ="content">
	<div class="row mt-3 mb-4 me-2 g-3">
		<div class="col mt-4 mb-4">
			<div class="col mt-4 mb-4" style="font-weight: bold; font-size: 22px;">
				학사경고 학생조회
			</div>
			<form th:action="@{/emp/probation}" method="post">
				<table class="table align-middle text-center table-bordered">
					<tr>
						<td>소속대학</td>
						<td> 
							<select class="form-select" th:onchange="changeColl();" id="coll" name="collNo">
								<option th:selected="${paramMap['collNo'] == null or paramMap['collNo'] eq ''}" value="">전체</option>
								<th:block th:each=" coll : ${collList}">
									<option th:value="${coll.collNo}" th:text="${coll.collName}" th:selected="${paramMap['collNo'] eq coll.collNo}"></option>
								</th:block>
							</select>
						</td>
						<td>소속학과</td>
						<td> 
							<select class="form-select deptList" id="dept" name="deptNo">
								<option th:selected="${paramMap['deptNo'] == null or paramMap['deptNo'] eq ''}"  value="">전체</option>
								<th:block th:each="dept : ${deptList}">
									<option th:value="${dept.deptNo}" th:text="${dept.deptName}" th:selected="${paramMap['deptNo'] eq dept.deptNo}"></option>
								</th:block>
							</select> 
						</td>
						<td rowspan="2"> <button class="btn btn-primary" style="height: 90px;" type="submit">Search</button> </td>
					</tr>
					<tr>
						<td>학적</td>
						<td>
							<select class="form-select" name="stuStatus">
								<option th:selected="${paramMap['stuStatus'] == null or paramMap['stuStatus'] eq ''}" value="" >전체</option>
								<option value="재학" th:selected="${paramMap['stuStatus'] eq '재학'}">재학</option>
								<option value="휴학" th:selected="${paramMap['stuStatus'] eq '휴학'}">휴학</option>
							</select>
						</td>
						<td>성명</td>
						<td><input class ="form-control" type="text" name="memName" th:value="${paramMap['memName']}"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
	
	<div class="row text-center" style="margin-top:-1.5rem; margin-bottom: 1rem;">
		<div class="col" style="font: 10px; font-weight: bold;">
			<div>총 <span th:text="${#lists.size(stuList)}" style="color: blue;"></span>명의 학생이 검색되었습니다. </div>
		</div>
	</div>
	
			
		<div class="row mt-4 g-3 ">
			<div class="col-12 mb-3">
				<div>
					<div class="col-12 mb-3">
					<table class="table text-center table-bordered" style="margin-bottom: -2rem; width: 1280px" >
						<colgroup>
						<col width="12%">
						<col width="16%">
						<col width="15%">
						<col width="20.5%">
						<col width="9%">
						<col width="10%">
						<col width="18%">
						</colgroup>
						<thead>
						<tr>
							<th>이름</th>
							<th>학번</th>
							<th>소속대학</th>
							<th>소속학과</th>
							<th>학적</th>
							<th>학사경고</th>
							<th>제적</th>
						</tr>
						</thead>
					</table>
				</div>	
			</div>	
		</div>
	</div>
	
	<div class="row mb-4" style="height: 250px; overflow-y: scroll; padding-left: 0px; padding-right: 0px;">
		<div class="col-12 mb-3" >
			<table class="table table-hover text-center table-bordered" style="width: 1280px;">
				<colgroup>
					<col width="12%">
					<col width="16%">
					<col width="15%">
					<col width="20.5%">
					<col width="9%">
					<col width="10%">
					<col width="20%">
				
				</colgroup>
				<tbody>
					<th:block th:if="${#lists.size(stuList) == 0}">
						<tr>
							<td colspan="7"> 해당 내역이 없습니다.</td>
						</tr>						
					</th:block>
					
					<tr th:each="stu:${stuList}">
						<td th:text="${stu.memberVO.memName}"></td>
						<td th:text="${stu.stuNo}" data-bs-toggle="modal" data-bs-target="#probationModal" th:onclick="stuInfo([[${stu.stuNo}]]);"></td>
						<td th:text="${stu.collVO.collName}"></td>
						<td th:text="${stu.deptVO.deptName}"></td>
						<td th:text="${stu.stuStatus}"></td>
						<td>
							<span th:text="${stu.statusInfoVO.academicProbationVO.probNo}"></span> 회
						</td>
						<td> 
							<th:block th:if="${stu.statusInfoVO.afterStatus == null and stu.statusInfoVO.academicProbationVO.probNo > '2'}">
								<input type="button" class="btn btn-primary" value="제적처리" data-bs-toggle="modal" data-bs-target="#stuOutModal" th:onclick="stuOut([[${stu.stuNo}]]);"> 
							</th:block>
							
							<th:block th:unless="${stu.statusInfoVO.afterStatus == null}">
								<input type="button" class="btn btn-primary" disabled value="제적완료"> 
							</th:block>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	
	
	<!--by수경 학생 학번 클릭 시 나타날 학사경고 창 -->
	<div class="modal fade bd-example-modal-lg" id="probationModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">학사경고</h4>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-12">
					<table class="table text-center">
						<tr>
						    <td colspan="4">
						    	<span id="probationModal_name"></span>
						    	(<span id="probationModal_no"></span> , 
						    	<span id="probationModal_birth"></span>)
						    </td>
					        <td rowspan="3" colspan="2">
					        	<img width="200px;" height="200px;" id="probationModal_memImage">
					        </td>
						</tr>
						<tr>
							<th>주소</th>
							<td colspan="3" align="left">
								<div id="probationModal_addr"></div>
							</td>
						</tr>
						<tr>
							<th>연락처</th>  
					        <td colspan="3" align="left">
					        	<div id="probationModal_tell"></div>
					        </td>
						</tr>
					</table>
						
					<table class="table text-center">
						<tr>  						    	
					   	    <th>학년</th>   
					   	    <td>
					   	    	<div id="probationModal_grade"></div>
					   	    </td> 
					   	   	<th>학적</th>  
						    <td>
						    	<div id="probationModal_status"></div>
						    </td>  
						</tr> 
						<tr>  
					  	    <th>전공대학</th>   
						    <td>
						    	<div id="probationModal_coll"></div>
						    </td>  
					   	    <th>전공학과</th>   
					   	    <td>
					   	    	<div id="probationModal_dept"></div>
					   	    </td>  
						</tr> 
					</table>	
					
					
					<table class="table">	
						<tr>
							<th>경고학기</th>
							<td colspan="5">
								<div class="row">
									<div class="col-2">
										<input type="text" class="form-control" value="2022">
									</div>
									년도 
									<div class="col-2">
										<select class="form-select form-select" id="semNo">
											<option value="1">1</option>
											<option value="2">2</option>
										</select>
									</div>학기
								</div>
							</td>
						</tr>				
						<tr>
							<th>경고사유</th>
							<td colspan="4">
								<div class="col-5">
									<select class="form-select" id="probReason">
										<option value="학칙위반">학칙위반</option>
										<option value="복학불이행">복학불이행</option>
										<option value="평균학점 미달">평균학점 미달</option>
										<option value="등록금 미납">등록금 미납</option>
										<option value="이수학점 미달">이수학점 미달</option>
										<option value="부정행위">부정행위</option>
									</select>
								</div>
							</td>
						</tr>
					</table>
					<input type="hidden" value="" id="probationModal_memNo">
					
					<table class="table text-center probationTb">
						<tr>
							<td colspan="6">누적 경고 내역</td>
						</tr>				
						<tr>
							<td colspan="2">
								<div id="probationModal_date"></div>
							</td>
							<td colspan="4">
								<div id ="probationModal_reason"></div>
							</td>
						</tr>
					</table>
					<input type="hidden" value="" id="probationModal_memEmail" name="memEmail">
				</div>
			</div>
	      </div>
	      <div class="modal-footer probation_div">
	      	<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" id="statusInfo_afterStatus"
	      		data-flag="" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
	      		th:onclick="acceptProbation();">
	      		승인하기
	      	</button>
		 	
		    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
		    	style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">
		    	취소
		    </button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!--by수경 제적처리 클릭 시 나타날 제적처리 창 -->
	<div class="modal fade bd-example-modal-lg" id="stuOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" >제적처리</h4>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-12">
					<table class="table text-center">
						<tr>
						    <td colspan="4">
						    	<span id="stuOut_name"></span>
						    	(<span id="stuOut_no"></span> ,
						    	<span id="stuOut_birth"></span>)
					    
						    </td>
					        <td rowspan="3" colspan="2">
					        	<img width="200px;" height="200px;" id="stuOut_image">
					        </td>
						</tr>
						<tr>
							<th>주소</th>
							<td colspan="3" align="left">
								<div id="stuOut_addr"></div>
							</td>
						</tr>
						<tr>
							<th>연락처</th>  
					        <td colspan="3" align="left">
					        	<div id="stuOut_tell"></div>
					        </td>
						</tr>
					</table>
						
					<table class="table text-center">
						<tr>  						    	
					   	    <th>학년</th>   
					   	    <td>
					   	    	<div id="stuOut_grade"></div>
					   	    </td> 
					   	   	<th>상태</th>  
						    <td>
						    	<div id="stuOut_status"></div>
						    </td>  
						</tr> 
						<tr>  
					  	    <th>전공대학</th>   
						    <td>
						    	<div id="stuOut_coll"></div>
						    </td>  
					   	    <th>전공학과</th>   
					   	    <td>
					   	    	<div id="stuOut_dept"></div>
					   	    </td>  
						</tr> 
					</table>	
					
					<table class="table">	
						<tr>
							<th>제적사유</th>
							<td colspan="4">
								<div class="col-7">
									<input type="text" class="form-control" value="학사경고 3회로 제적처리 함" id="stuOutReason">
								</div>
							</td>
						</tr>
					</table>
					
					<table class="table text-center stuOutTb">
						<tr>
							<td colspan="6">누적 경고 내역</td>
						</tr>				
						<tr>
							<td colspan="2">
								<div id="stuOut_date"></div>
							</td>
							<td colspan="4">
								<div id ="stuOut_reason"></div>
							</td>
						</tr>				
					</table>
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	
		    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" id="stuOut_btn" 
		    data-flag="" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
		    th:onclick="acceptStuOut();">제적처리</button>
		      
	        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" 
	        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">취소</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	

<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/probation/academicProbation.js}"></script>		
</div>


</body>
</html>