<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}">

<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<meta charset="UTF-8">
<title>[NFU]제적 현황 관리자 페이지</title>
</head>
<body>

<div layout:fragment ="content">
	<div class="row mt-3 mb-4 me-2 g-3">
		<div class="col mt-4 mb-4" >
			<div class="col mt-4 mb-4" style="font-weight: bold;">
				<H4>제적 학생조회</H4>
			</div>
			<form th:action="@{/emp/stuOut}" method="post">
				<table class="table align-middle text-center table-bordered">
					<tr>
						<td>소속대학</td>
						<td> 
							<select class="form-select" th:onchange="changeColl();" id="coll" name="collNo">
								<option th:selected="${paramMap['collNo'] == null or paramMap['collNo'] eq ''}" value="" >전체</option>
								<th:block th:each=" coll : ${collList}">
									<option th:value="${coll.collNo}" th:text="${coll.collName}" th:selected="${paramMap['collNo'] eq coll.collNo}"></option>
								</th:block>
							</select>
						</td>
						<td>소속학과</td>
						<td> 
							<select class="form-select deptList" id="dept" name="deptNo">
								<option th:selected="${paramMap['deptNo'] == null or paramMap['deptNo'] eq ''}"  value="">전체</option>
								<th:block th:each=" dept : ${deptList}">
									<option th:value="${dept.deptNo}" th:text="${dept.deptName}" th:selected="${paramMap['deptNo'] eq dept.deptNo}"></option>
								</th:block>
							</select> 
						</td>
						<td rowspan="2">  <button class="btn btn-primary" style="height: 90px;" type="submit">Search</button> </td>
					</tr>
					<tr>
						<td>학적</td>
						<td>
							<select class="form-select" name="stuStatus">
								<option th:selected="${paramMap['stuStatus'] == null or paramMap['stuStatus'] eq ''}" value="" >전체</option>
								<option th:selected="${paramMap['stuStatus'] eq '재학'}" value="재학">재학</option>
								<option th:selected="${paramMap['stuStatus'] eq '휴학'}" value="휴학">휴학</option>
							</select>
						</td>
						<td>성명</td>
						<td> <input class ="form-control" type="text" name="memName" th:value="${paramMap['memName']}"> </td>
					</tr>
				</table>
			</form>	
		</div>
	</div>
	
	<div class="row text-center" style="margin-top:-1.5rem; margin-bottom: 1rem;">
		<div class="col" style="font: 10px; font-weight: bold;">
			<div>총 <span th:text="${#lists.size(stuOutList)}" style="color: blue;"></span>명의 학생이 검색되었습니다. </div>
		</div>
	</div>	
		
		
		
	<div class="row mt-3 g-3">
		<div class="row" style="font: 10px; font-weight: bold; color: blue;">
			<div>학생의 학번을 클릭하면 제적 받은 학생의 학사경고 내역을 확인할 수 있습니다.</div>
		</div>
		<div class="col-12 mb-3">
			<div>
				<div class="col-12 mb-3">
					<table class="table text-center table-bordered" style="margin-bottom: -2rem; width: 1280px">
						<colgroup>
							<col width="10%">
							<col width="13%">
							<col width="15%">
							<col width="18%">
							<col width="9%">
							<col width="15%">
							<col width="23%">
						</colgroup>
						<thead>
							<tr>
								<th>이름</th>
								<th>학번</th>
								<th>소속대학</th>
								<th>소속학과</th>
								<th>학적</th>
								<th>제적일자</th>
								<th>제적사유</th>
							</tr>
						</thead>
					</table>
				</div>	
			</div>	
		</div>
	</div>	
	
	<div class="row mb-4" style="height: 250px; overflow-y: scroll; padding-left: 0px; padding-right: 0px;">
		<div class="col-12 mb-3" >
			<table class="table table-hover text-center table-bordered" style="width: 1280px;">
				<colgroup>
					<col width="10%">
					<col width="13%">
					<col width="15%">
					<col width="18%">
					<col width="9%">
					<col width="15%">
					<col width="23%">
				</colgroup>
				<tbody>
					<th:block th:if="${#lists.size(stuOutList) == 0}">
						<tr>
							<td colspan="7"> 해당 내역이 없습니다.</td>
						</tr>						
					</th:block>
						<tr th:each="stuOut:${stuOutList}">
							<td th:text="${stuOut.memberVO.memName}"></td>
							<td th:text="${stuOut.stuNo}" data-bs-toggle="modal" data-bs-target="#stuOutModal" th:onclick="stuInfo([[${stuOut.stuNo}]]);"></td>
							<td th:text="${stuOut.collVO.collName}"></td>
							<td th:text="${stuOut.deptVO.deptName}"></td>
							<td th:text="${stuOut.stuStatus}"></td>
							<td th:text="${stuOut.statusInfoVO.stuOutVO.stuOutDate}"></td>
							<td th:text="${stuOut.statusInfoVO.stuOutVO.stuOutReason}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	<!--by수경 학생 학번 클릭 시 나타날 제적 모달창 -->
	<div class="modal fade bd-example-modal-lg" id="stuOutModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="stuOutModal_apply">제적</h4>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-12">
					<table class="table text-center">
						<tr>
						    <td colspan="4">
						    	<span id="stuOutModal_name"></span>
						    	(<span id="stuOutModal_no"></span> , 
						    	<span id="stuOutModal_birth"></span>)
						    </td>
					        <td rowspan="3" colspan="2">
					        	<img width="200px;" height="200px;" id="stuOutModal_image">
					        </td>
						</tr>
						<tr>
							<th>주소</th>
							<td colspan="3" align="left">
								<div id="stuOutModal_addr"></div>
							</td>
						</tr>
						<tr>
							<th>연락처</th>  
					        <td colspan="3" align="left">
					        	<div id="stuOutModal_tell"></div>
					        </td>
						</tr>
					</table>
						
					<table class="table text-center">
						<tr>  
					   	    <th>학년</th>   
					   	    <td>
					   	    	<div id="stuOutModal_grade"></div>
					   	    </td> 
					   	   	<th>학적</th>  
						    <td>
						    	<div id="stuOutModal_status"></div>
						    </td>  
						</tr> 
						<tr>  
					  	    <th>전공대학</th>   
						    <td>
						    	<div id="stuOutModal_coll"></div>
						    </td>  
					   	    <th>전공학과</th>   
					   	    <td>
					   	    	<div id="stuOutModal_dept"></div>
					   	    </td>  
						</tr> 
					</table>
						
						<table class="table text-center stuOutTb">
						<tr>
							<td colspan="6">누적 경고 내역</td>
						</tr>				
						<tr>
							<td colspan="2">
								<div id="probationModal_date"></div>
							</td>
							<td colspan="4">
								<div id ="probationModal_reason"></div>
							</td>
						</tr>				
					</table>

				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" 
	        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">확인</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	

<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/probation/stuOut.js}"></script>	
</div>


</body>
</html>