<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"   
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>[NFU]전과신청</title>
</head>
<body>

<!--by수경 학생의 전과, 복수전공 신청 목록 관리자 페이지 -->
<!--관리자는 해당 접수완료 버튼 클릭 시 해당 학생의 신청내역을 볼 수 있고
아래의 승인버튼 클릭 시 접수완료 ->승인완료 변경되도록 할 것  -->
<div layout:fragment ="content">
	<div class="row justify-content-center">
		<div class="col text-center">
			<H5>전과신청 현황</H5>
		</div>
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>변경전공대학</th>
					  <th>변경전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				   
				    <th:block th:if="${#lists.size(applyList) == 0}">
				    <tr>
				      <td colspan="8">
				      	<span>신청한 내역이 없습니다.</span>
				      </td>
				    </tr>  
					</th:block>
					<th:block th:unless="${#lists.size(applyList) == 0}">
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
					</th:block>
				</table>
			</div>		
		</div>
			
		<div class="col text-center">
			<H5>복수전공신청 현황</H5>
		</div>
		
		<div class="row mt-2">
			<div class="col mb-5">
				<table class="table table-bordered">
				   <tr>
					  <th>No</th>
					  <th>소속전공대학</th>
					  <th>소속전공학과</th>
					  <th>신청전공대학</th>
					  <th>신청전공학과</th>
					  <th>신청일</th>
					  <th>승인일</th>
					  <th>승인여부</th>
				    </tr>
				    
				    <th:block th:if="${#lists.size(applyList) == 0}">
				    <tr>
				      <td colspan="8">
				      	<span>신청한 내역이 없습니다.</span>
				      </td>
				    </tr>  
					</th:block>
				    <th:block th:unless="${#lists.size(applyList) == 0}">
					<tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
					</tr>
					</th:block>
				</table>
			</div>		
		</div>		
	</div>		
   
</div>


</body>
</html>