<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"   
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layout/base_layout}">

<head>
<meta charset="UTF-8">
<title>[NFU]복학/휴학신청 접수현황</title>
</head>
<!--by.수경 학생의 복학, 휴학 신청에 대한 관리자 페이지
라디오/체크박스 기능으로 처리 가능하도록 구현  -->

<body>
<div layout:fragment ="content">
<th:block layout:fragment ="css">
	<link rel ="stylesheet" th:href="@{/css/applyModal.css}">
</th:block>
<!--by수경 복학신청 현황 테이블  -->
	<div class="row justify-content-center">
		<div class="row mt-3">	
			<div class="col mb-2">
			 1. 복학신청 접수현황
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				 <table class="table align-middle table-bordered text-center test">
		            <tr>
		               <td class="searchTitle">신청일</td>
		               <td colspan="3">
		                  <div class="row">
		                     <div class="col-6">
		                        <input class="form-control" type="date">
		                     </div>
		                     <div class="col-6">
		                        <input class="form-control" type="date">
		                     </div>
		                  </div>
		               </td>
		               <td class="searchTitle">처리상태</td>
		               <td colspan="3">
		                  <div class="form-check form-check-inline">			
		                    <input class="form-check-input" type="radio" >
		                    <label class="form-check-label" for="" >전체</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio" >
		                    <label class="form-check-label" for="">승인대기</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio">
		                    <label class="form-check-label" for="">승인완료</label>
		                  </div>
		               </td>
		               <td>
		                  <button class="btn btn-primary" style="height: 45px;" type="button">Search</button>
		               </td>
		            </tr>
		         </table>
	         </div>
         </div>
		
		<div class="row">
			<div class="col mb-5">
				<table class="table table-bordered text-center">
				   <tr>
				   	  <th><input type="checkbox" id="allcheck1"></th>
					  <th>No</th>
					  <th>이 름</th>
					  <th>학 번</th>
					  <th>학 년</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인여부</th>
					  <th>처리일</th>
				    </tr>
				    <th:block th:if="${#lists.size(comebackList) == 0}">
				    <tr>
				      <td colspan="10">
				      	<span>접수된 내역이 없습니다.</span>
				      </td>
				    </tr>  
					</th:block>
					
					<th:block th:if="${#lists.size(comebackList) != 0}">
					<tr th:each="comeback, status :${comebackList}">
				      <td><input type="checkbox" class="check1" th:value="${comeback.applyNo}" th:data-stu-no ="${comeback.stuNo}"></td>
			          <td th:text="${#lists.size(comebackList) - status.index}"></td>
			          <td th:text="${comeback.memName}"></td>
				      <td th:text="${comeback.stuNo}" th:onclick="stuInfo([[${comeback.stuNo}]])"  data-bs-toggle="modal" data-bs-target="#stuInfoModal"></td>
				      <td th:text="${comeback.stuYear}"></td>
				      <td th:text="${comeback.fromColl}"></td>
				      <td th:text="${comeback.fromDept}"></td>
				      <td th:text="${comeback.applyDate}"></td>
				      <td>
				      	<span>
				      		<input type="radio" th:name="|processStatus_${status.count}|" th:onclick="changeComebackStatus([[${comeback.applyNo}]], 'waiting',[[${comeback.stuNo}]]);"
				      		value="waiting" th:checked="${comeback.processStatus eq 'waiting'}"> 
				      		<label class="form-check-label" for="flexRadioDefault1">승인대기 </label>
				      		<input type="radio" th:name="|processStatus_${status.count}|" th:onclick="changeComebackStatus([[${comeback.applyNo}]], 'accept',[[${comeback.stuNo}]]);"
				      		value="accept" th:checked="${comeback.processStatus eq 'accept'}" > 
				      		<label class="form-check-label" for="flexRadioDefault1">승인완료 </label>
				      	</span>
				      </td>
					  <td th:text="${applyInfo.approvalDate}"></td>
					</tr>
					</th:block>
				   
				</table>
				<div class="row mt-5">
					<div class="col text-center">
						<form th:action="@{/emp/comebackAllAccept}" method="post" id="comebackForm">
							<input type="button" value="일괄승인" th:onclick="comebackAllAccept();"  class="btn btn-primary">
							<input type="hidden" name="applyNos" value="" id="comebackInput1">
							<input type="hidden" name="stuNos" value="" id="comebackInput2">
						</form>
					</div>
				</div>
			</div>		
		</div>
<!-- by수경 휴학신청 현황 테이블  -->
		<div class="row mt-3">	
			<div class="col mb-2">
			 2. 휴학신청 접수현황
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				 <table class="table align-middle table-bordered text-center test">
		            <tr>
		               <td class="searchTitle">신청일</td>
		               <td colspan="3">
		                  <div class="row">
		                     <div class="col-6">
		                        <input class="form-control" type="date">
		                     </div>
		                     <div class="col-6">
		                        <input class="form-control" type="date">
		                     </div>
		                  </div>
		               </td>
		               <td class="searchTitle">처리상태</td>
		               <td colspan="3">
		                  <div class="form-check form-check-inline">		
		                    <input class="form-check-input" type="radio" >
		                    <label class="form-check-label" for="" >전체</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio" >
		                    <label class="form-check-label" for="">승인대기</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input" type="radio">
		                    <label class="form-check-label" for="">승인완료</label>
		                  </div>
		               </td>
		               <td>
		                  <button class="btn btn-primary" style="height: 45px;" type="button">Search</button>
		               </td>
		            </tr>
		         </table>
	         </div>
         </div>
		
		<div class="row">
			<div class="col mb-5">
				<table class="table table-bordered text-center">
				   <tr>
					  <th><input type="checkbox" id="allcheck2"></th>				   	
					  <th>No</th>
					  <th>이 름</th>
					  <th>학 번</th>
					  <th>학 년</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인여부</th>
					  <th>처리일</th>
				    </tr>
				     <th:block th:if="${#lists.size(takeOffList) == 0}">
					    <tr>
					      <td colspan="10">
					      	<span>접수된 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
				    <th:block th:if="${#lists.size(takeOffList) != 0}">
						<tr th:each="takeOff, status :${takeOffList}">
					      <td><input type="checkbox" class="check2" th:value="${takeOff.applyNo}" th:data-stu-no="${takeOff.stuNo}"></td>
					      <td th:text="${#lists.size(takeOffList) - status.index}"></td>
					      <td th:text="${takeOff.memName}"></td>
					      <td th:text="${takeOff.stuNo}" th:onclick="stuInfo([[${takeOff.stuNo}]])" data-bs-toggle="modal" data-bs-target="#stuInfoModal"></td>
					      <td th:text="${takeOff.stuYear}"></td>
					      <td th:text="${takeOff.fromColl}"></td>
					      <td th:text="${takeOff.fromDept}"></td>
					      <td th:text="${takeOff.applyDate}"></td>
					      <td>
					      	<span>
					      		<input type="radio" th:name="|processStatus_${status.count}|" value="waiting"
					      		th:checked="${takeOff.processStatus eq 'waiting'}" th:onclick="changeTakeOffStatus([[${takeOff.applyNo}]], 'waiting',[[${takeOff.stuNo}]]);"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인대기</label>
					      		<input type="radio" th:name="|processStatus_${status.count}|" value="accept" 
					      		th:checked="${takeOff.processStatus eq 'accept'}" th:onclick="changeTakeOffStatus([[${takeOff.applyNo}]], 'accept',[[${takeOff.stuNo}]]);"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인완료</label>
				      		</span>
					      </td>
					       <td th:text="${takeOff.approvalDate}"></td>
						</tr>
					</th:block>
				</table>
				<div class="row mt-5">
					<div class="col text-center">
						<form th:action="@{/emp/takeOffAllAccept}" method="post" id="takeOffForm">
							<input type="button" value="일괄승인" th:onclick="takeOffAllAccept();"  class="btn btn-primary">
							<input type="hidden" name="applyNos" value="" id="takeOffInput1">
							<input type="hidden" name="stuNos" value="" id="takeOffInput2">
						</form>
					</div>
				</div>
			</div>		
		</div>		
	</div>		
	
	<!-- 휴학/복학 신청 현황에서 학번 클릭 시 뜨는 모달 창 -->
	<div class="modal fade" id="stuInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" >학생정보</h4>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-12">
					<table class="table">
						<tr>
							<th>이름</th>  
						    <td>
						    	<div id="stuInfoModal_name"></div>
						    </td>  
						    <th>학 번</th>  
					        <td>
					        	<div id="stuInfoModal_no"></div>
					        </td>  
					        <th>학년</th>  
					        <td>
					        	<div id="stuInfoModal_grade"></div>
					        </td>
						</tr>
						<tr>  
					  	    <th>전공대학</th>   
						    <td>
						    	<div id="stuInfoModal_coll"></div>
						    </td>  
					   	    <th>전공학과</th>   
					   	    <td>
					   	    	<div id="stuInfoModal_dept"></div>
					   	    </td>  
					  	    <th>복수전공</th>   
					        <td>
					        	<div id="stuInfoModal_doubleDept"></div>
					        </td>  
						</tr>  
						<tr>   
					        <th>성별</th>   
					        <td>
					        	<div id="stuInfoModal_gender"></div>
					        </td>   
					        <th>생년월일</th>   
					        <td>
					        	<div id="stuInfoModal_birth"></div>
					        </td>   
					        <th>학적상태</th>   
					        <td>
					        	<div id="stuInfoModal_status"></div>
					        </td>   
						</tr>  
					</table>
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >확인</button>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!--by수경 휴학/복학 단일 승인완료  모달창 -->
	<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<div class="row mb-3" >
		      	<div class="col text-center">
		      	  최종 승인이 완료되었습니다.
		      	</div>
	      	</div>
	       <div class="row">
	       	<div class="col text-center">
	       		<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"
	       		style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;">
	       		확인</button>
	       	</div>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>		
	<!--by수경 휴학/복학 일괄승인완료  모달창 -->
	<div class="modal fade" id="resultAlltModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-body">
	      	<div class="row mb-3" >
		      	<div class="col text-center">
		      	  일괄 승인이 완료되었습니다.
		      	</div>
	      	</div>
	       <div class="row">
	       	<div class="col text-center">
	       		<button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" id="resultAllModal_btn" 
	       		data-flag="" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 3rem; --bs-btn-font-size: 1rem;"
	       		th:onclick="formSubmit();">확인</button>
	       	</div>
	       </div>
	      </div>
	    </div>
	  </div>
	</div>		
			
<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/deptManage/takeOffReturnUniv.js}"></script>	 
</div>


</body>
</html>