<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"   
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{layout/base_layout}">

<head>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<!--by수경 카카오톡 공유하기로 메세지 전송을 위한 태그 추가  -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.0.1/kakao.min.js"
  integrity="sha384-eKjgHJ9+vwU/FCSUG3nV1RKFolUXLsc6nLQ2R1tD0t4YFPCvRmkcF8saIfOZNWf/" crossorigin="anonymous">
</script>
<script>
  Kakao.init('b37d7c04ed213ae63f82c2037f5b5a6a'); // 사용하려는 앱의 JavaScript 키 입력
</script>


<meta charset="UTF-8">
<title>[NFU]복학/휴학신청 접수현황</title>
</head>
<!--by.수경 학생의 복학, 휴학 신청에 대한 관리자 페이지
라디오/체크박스 기능으로 처리 가능하도록 구현  -->

<body>
<div layout:fragment ="content">
<!--by수경 검색조건에서 검색버튼 클릭 시 실행될 form태그 -->
<form th:action="@{/emp/takeOffReturnUniv}" method="post" id="searchForm">
	<input type="hidden" name="takeOffUniv_fromDate" id="search_takeOffUniv_fromDate" value="">
	<input type="hidden" name="takeOffUniv_toDate" id="search_takeOffUniv_toDate" value="">
	<input type="hidden" name="takeOffUniv_status" id="search_takeOffUniv_status" value="">
	
	<input type="hidden" name="comeback_fromDate" id="search_comeback_fromDate" value="">
	<input type="hidden" name="comeback_toDate" id="search_comeback_toDate" value="">
	<input type="hidden" name="comeback_status" id="search_comeback_status" value="">

</form>
<!--by수경 복학신청 현황 테이블  -->
	<div class="row justify-content-center">
		<div class="row mt-3">	
			<div class="col mb-2" style="font-weight: bold; font-size: 22px;">
			 1. 복학신청 접수현황
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<form action="" method="post">
				 <table class="table align-middle table-bordered text-center test">
		            <tr>
		               <td class="searchTitle">신청일</td>
		               <td colspan="3">
		                  <div class="row">
		                     <div class="col-6">
		                        <input class="form-control" type="date" name="comeback_fromDate" id="comeback_fromDate" 
		                        th:value="${paramMap['comeback_fromDate']}" >
		                     </div>
		                     <div class="col-6">
		                        <input class="form-control" type="date" name="comeback_toDate" id="comeback_toDate" 
		                        th:value="${paramMap['comeback_toDate']}" >
		                     </div>
		                  </div>
		               </td>
		               <td class="searchTitle">처리 상태</td>
		               <td colspan="3">				
		                  <div class="form-check form-check-inline">			
		                    <input class="form-check-input comeback_status" type="radio" name="comeback_status" value="" 
		                    th:checked="${paramMap['comeback_status'] == null or paramMap['comeback_status'] == ''}" >
		                    <label class="form-check-label">전체</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input comeback_status" type="radio" name="comeback_status" value="waiting" 
		                    th:checked="${paramMap['comeback_status'] eq 'waiting'}">
		                    <label class="form-check-label">승인대기</label>
		                  </div>
		                  <div class="form-check form-check-inline">
		                    <input class="form-check-input comeback_status" type="radio" name="comeback_status" value="accept" 
		                    th:checked="${paramMap['comeback_status'] eq 'accept'}">
		                    <label class="form-check-label">승인완료</label>
		                  </div>
		               </td>
		               <td>
		                  <button class="btn btn-primary" style="height: 45px;" type="button" th:onclick="search();">Search</button>
		               </td>
		            </tr>
		         </table>
		       </form>
	         </div>
         </div>
		
		<div class="row">
			<div class="col mb-5">
				<table class="table table-bordered text-center">
				   <tr>
				   	  <th><input class="form-check-input" type="checkbox" id="allcheck1"></th>
					  <th>No</th>
					  <th>이 름</th>
					  <th>학 번</th>
					  <th>학 년</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인여부</th>
					  <th>SNS</th>
				    </tr>
				    <th:block th:if="${#lists.size(comebackList) == 0}">
				    <tr>
				      <td colspan="10">
				      	<span>접수된 내역이 없습니다.</span>
				      </td>
				    </tr>  
					</th:block>
					
					<th:block th:if="${#lists.size(comebackList) != 0}">
					<tr th:each="comeback, status :${comebackList}">
				      <td><input type="checkbox" class="check1" th:value="${comeback.applyNo}" th:data-stu-no ="${comeback.stuNo}"></td>
			          <td th:text="${#lists.size(comebackList) - status.index}"></td>
			          <td th:text="${comeback.memName}"></td>
				      <td th:text="${comeback.stuNo}" th:onclick="stuInfo([[${comeback.stuNo}]])"  data-bs-toggle="modal" data-bs-target="#stuInfoModal"></td>
				      <td th:text="${comeback.stuYear}"></td>
				      <td th:text="${comeback.fromColl}"></td>
				      <td th:text="${comeback.fromDept}"></td>
				      <td th:text="${comeback.applyDate}"></td>
				      <td>
				      	<span th:if="${comeback.processStatus eq 'waiting'}">
				      		<input type="radio" th:name="|comebackProcessStatus_${status.count}|" th:onclick="changeComebackStatus([[${comeback.applyNo}]], 'waiting',[[${comeback.stuNo}]]);"
				      		value="waiting" th:checked="${comeback.processStatus eq 'waiting'}"> 
				      		<label class="form-check-label" for="flexRadioDefault1">승인대기 </label>
				      		<input type="radio" th:name="|comebackProcessStatus_${status.count}|" th:onclick="changeComebackStatus([[${comeback.applyNo}]], 'accept',[[${comeback.stuNo}]]);"
				      		value="accept" th:checked="${comeback.processStatus eq 'accept'}" > 
				      		<label class="form-check-label" for="flexRadioDefault1">승인완료 </label>
				      	</span>
				      	<span th:if="${comeback.processStatus eq 'accept'}">
				      		<input type="radio" th:name="|comebackProcessStatus_${status.count}|" value="waiting" th:checked="${comeback.processStatus eq 'waiting'}" disabled> 
				      		<label class="form-check-label" for="flexRadioDefault1">승인대기 </label>
				      		<input type="radio" th:name="|comebackProcessStatus_${status.count}|" value="accept" th:checked="${comeback.processStatus eq 'accept'}" disabled> 
				      		<label class="form-check-label" for="flexRadioDefault1">승인완료 </label>
				      	</span>
				      </td>
					  <td th:onclick="sendKakao();">
					  	<img src="/images/kakao.png">
					  </td>
					</tr>
					</th:block>
				   
				</table>
				<div class="row mt-5">
					<div class="col text-center">
						<input type="button" value="일괄승인" th:onclick="comebackAllAccept();" class="btn btn-primary">
					</div>
				</div>
			</div>		
		</div>
<!-- by수경 휴학신청 현황 테이블  -->
		<div class="row mt-3">	
			<div class="col mb-2" style="font-weight: bold; font-size: 22px;">
			 2. 휴학신청 접수현황
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				 <table class="table align-middle table-bordered text-center test">
		            <tr>
		               <td class="searchTitle">신청일</td>
		               <td colspan="3">
		                  <div class="row">
		                     <div class="col-6">
		                        <input class="form-control" type="date" name="takeOffUniv_fromDate" id="takeOffUniv_fromDate" 
		                        th:value="${paramMap['takeOffUniv_fromDate']}" >
		                     </div>
		                     <div class="col-6">
		                        <input class="form-control" type="date" name="takeOffUniv_toDate" id="takeOffUniv_toDate" 
		                        th:value="${paramMap['takeOffUniv_toDate']}" >
		                     </div>
		                  </div>
		               </td>
		               <td class="searchTitle">처리상태</td>
		               <td colspan="3">
		                  <div class="form-check form-check-inline">		
		                    <input class="form-check-input takeOffUniv_status" type="radio" name="takeOffUniv_status" value=""
		                    th:checked="${paramMap['takeOffUniv_status'] == null or paramMap['takeOffUniv_status'] == ''}">
		                    <label class="form-check-label" for="" >전체</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input takeOffUniv_status" type="radio" name="takeOffUniv_status" value="waiting"
		                    th:checked="${paramMap['takeOffUniv_status'] == 'waiting'}">
		                    <label class="form-check-label" for="">승인대기</label>
		                  </div>
		                     <div class="form-check form-check-inline">
		                    <input class="form-check-input takeOffUniv_status" type="radio" name="takeOffUniv_status" value="accept"
		                    th:checked="${paramMap['takeOffUniv_status'] == 'accept'}">
		                    <label class="form-check-label" for="">승인완료</label>
		                  </div>
		               </td>
		               <td>
		                  <button class="btn btn-primary" style="height: 45px;" type="button" th:onclick="search();">Search</button>
		               </td>
		            </tr>
		         </table>
	         </div>
         </div>
		
		<div class="row">
			<div class="col mb-5">
				<table class="table table-bordered text-center">
				   <tr>
					  <th><input class="form-check-input" type="checkbox" id="allcheck2"></th>				   	
					  <th>No</th>
					  <th>이 름</th>
					  <th>학 번</th>
					  <th>학 년</th>
					  <th>전공대학</th>
					  <th>전공학과</th>
					  <th>신청일</th>
					  <th>승인여부</th>
					  <th>SNS</th>
				    </tr>
				     <th:block th:if="${#lists.size(takeOffList) == 0}">
					    <tr>
					      <td colspan="10">
					      	<span>접수된 내역이 없습니다.</span>
					      </td>
					    </tr>  
					</th:block>
				    <th:block th:if="${#lists.size(takeOffList) != 0}">
						<tr th:each="takeOff, status :${takeOffList}">
					      <td><input type="checkbox" class="check2" th:value="${takeOff.applyNo}" th:data-stu-no="${takeOff.stuNo}"></td>
					      <td th:text="${#lists.size(takeOffList) - status.index}"></td>
					      <td th:text="${takeOff.memName}"></td>
					      <td th:text="${takeOff.stuNo}" th:onclick="stuInfo([[${takeOff.stuNo}]])" data-bs-toggle="modal" data-bs-target="#stuInfoModal"></td>
					      <td th:text="${takeOff.stuYear}"></td>
					      <td th:text="${takeOff.fromColl}"></td>
					      <td th:text="${takeOff.fromDept}"></td>
					      <td th:text="${takeOff.applyDate}"></td>
					      <td>
					      	<span th:if="${takeOff.processStatus eq 'waiting'}">
					      		<input type="radio" th:name="|takeOffProcessStatus_${status.count}|" value="waiting"
					      		th:checked="${takeOff.processStatus eq 'waiting'}" th:onclick="changeTakeOffStatus([[${takeOff.applyNo}]], 'waiting',[[${takeOff.stuNo}]]);"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인대기</label>
					      		<input type="radio" th:name="|takeOffProcessStatus_${status.count}|" value="accept" 
					      		th:checked="${takeOff.processStatus eq 'accept'}" th:onclick="changeTakeOffStatus([[${takeOff.applyNo}]], 'accept',[[${takeOff.stuNo}]]);"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인완료</label>
				      		</span>
					      	<span th:if="${takeOff.processStatus eq 'accept'}">
					      		<input type="radio" th:name="|takeOffProcessStatus_${status.count}|" value="waiting" disabled th:checked="${takeOff.processStatus eq 'waiting'}"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인대기</label>
					      		<input type="radio" th:name="|takeOffProcessStatus_${status.count}|" value="accept" disabled th:checked="${takeOff.processStatus eq 'accept'}"> 
					      		<label class="form-check-label" for="flexRadioDefault1">승인완료</label>
				      		</span>
					      </td>
					       <td th:onclick="sendKakao();"><img src="/images/kakao.png"></td>
						</tr>
					</th:block>
				</table>
				<div class="row mt-5">
					<div class="col text-center">
						<input type="button" value="일괄승인" th:onclick="takeOffAllAccept();"  class="btn btn-primary">
					</div>
				</div>
			</div>		
		</div>		
	</div>		
	
	<!-- 휴학/복학 신청 현황에서 학번 클릭 시 뜨는 모달 창 -->
	<div class="modal fade bd-example-modal-lg" id="stuInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" >학생정보</h4>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
			<div class="row">
				<div class="col-12">
					<table class="table">
						<tr>
							<th>이름</th>  
						    <td colspan="2">
						    	<span id="stuInfoModal_name"></span>
						    	(<span id="stuInfoModal_no"></span>, 
						    	<span id="stuInfoModal_status"></span>)
						    </td> 
						    <th>생년월일</th>   
					        <td colspan="2">
					        	<div id="stuInfoModal_birth"></div>
					        </td> 
					        <td rowspan="3" colspan="2">
					        	<img src="/images/학생2.jpg" width="180px;" height="180px;">
					        </td>
						</tr>
						<tr>
					        <th>학년</th>  
					        <td colspan="2">
					        	<div id="stuInfoModal_grade"></div>
					        </td>  
					  	    <th>전공대학</th>   
						    <td colspan="2">
						    	<div id="stuInfoModal_coll"></div>
						    </td>  
					   	    
						</tr>  
						<tr>
							<th>전공학과</th>   
					   	    <td colspan="2">
					   	    	<div id="stuInfoModal_dept"></div>
					   	    </td>  
					  	    <th>복수전공</th>   
					        <td colspan="2">
					        	<div id="stuInfoModal_doubleDept"></div>
					        </td>    
						</tr>  
					</table>
				</div>
			</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >확인</button>
	      </div>
	    </div>
	  </div>
	</div>
			
<script src="https://code.jquery.com/jquery-latest.min.js"></script>	
<script type="text/javascript" th:src="@{/js/deptManage/takeOffReturnUniv.js}"></script>	 
</div>


</body>
</html>