<!-- by 유빈 -->
<!-- 관리자게시판 : 카테고리 등록  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
 </th:block>
	
<div align="center" layout:fragment="content">
	
	<div class="row justify-center-center mt-3 mb-3" style="width: 80%;">
		<div class="col">
			<!-- 제목줄 -->
			<h3> [ 관리자 게시판 ]</h3>
			<!-- 등록 줄 -->
			<form id="regCateBtn" th:action="@{/board/regCate}" method="post" th:object="${boardCategoryVO}">
			<input type="hidden" th:field="*{cateNo}">
				 <div  class="row justify-center-center" style="width: 80%;">
					<div class="col-5">
						<span>카테고리명</span>
						<span><input id="cateNameId" class="form-control" th:field="*{cateName}" type="text" placeholder="카테고리명을 입력하세요." required></span>
					
					</div>
					<div class="col-5" >
						<span>사용여부</span>
						<span>
							<select th:field="*{isUse}" class="form-control">
								<option value="Y" selected>사용중</option>
								<option value="N">미사용</option>
							</select>
						</span>
					</div>
					<div class="col-2" style="padding: 20px; padding-top: 30px;" >
						<button type="button" id="regBtn" class="btn btn-primary">등록</button>
					</div>
				</div>
			</form>
			<!-- 카테고리 no 테이블영역 -->			
			 <div class="row mt-3 " style="width: 80%;">
				<div class="col-12">
					<!-- 카테고리 목록줄 -->
					<div align="center">
						<h3>카테고리 목록</h3>
					</div>
					<!-- 갯수 표시줄 -->
					<div class="row" style="font: 10px;">
				       	<div  class="col-8 text-start" style="padding-top :5px; color: gray;"> ※ 총 <span th:text="${#lists.size(cateList)}"></span>개의 카테고리가 검색되었습니다. </div>
					    <!-- 선택삭제 버튼 영역 -->
					    <div class="col-4 text-end">
					    	 <form action="" method="post" id="cateForm">
					    	 	<input type="hidden" name="cateNos" id="cateNos" value=""><!-- 유의!! 여러개의 카테no 넘거야한다!!! -->
					    	 </form>
				    	 	<button id="deleteBtn"  style="padding: 5px;" type="button" class="btn btn-outline-dark" th:onclick="deleteCate(this);"> 
								선택삭제
							</button>
					    </div>
				    </div>
				    <!-- 테이블 영역 -->
					<div class="col-12 mt-3">
						<table class="table table-striped table-hover"  >
							<colgroup>
								<col width="*%">
								<col width="10%">
								<col width="20%">
								<col width="40%">
								<col width="30%">
							</colgroup>
							<tr>
								<th><input type="checkbox" id="checkAll" checked="checked"></th>
								<th>No.</th>
								<th>카테고리번호</th>
								<th>게시판 카테고리명</th>
								<th style="text-align: center;">사용여부</th>
							</tr>
							 <tbody>
								<th:block th:if="${#lists.size(cateList) != 0}">
									<tr th:each="cate, status : ${cateList}">
										<td><input type="checkbox" class="chk" th:value="${cate.cateNo}" checked></td>
										<td>
								      		<span th:text="${status.index+1}"></span>
								      	</td>
										<td th:text="${cate.cateNo}" ></td>
										<td th:text="${cate.cateName}"></td>
											<td id="isUseId">
										<span class="form-check form-check-inline">
					                       <input class="form-check-input " type="radio" th:name="|isUse_${status.count}|" 
					                       	id="isUse" value="Y" th:checked="${cate.isUse eq 'Y'}"
					                       	th:onclick="changeisUse([[${cate.cateNo}]], 'Y');" >       
					                       <label class="form-check-label" for="inlineRadio1">사용중</label>
					                     </span>
					                     <span class="form-check form-check-inline">
					                      <input class="form-check-input " type="radio" th:name="|isUse_${status.count}|" 
					                      	 id="isUnUse" value="N" th:checked="${cate.isUse eq 'N'}"
	        	 				            	th:onclick="changeisUse([[${cate.cateNo}]], 'N');" >       
					                       <label class="form-check-label" for="inlineRadio2">미사용</label>
					                     </span>
										</td>
									</tr>
								</th:block>
								<th:block th:unless="${#lists.size(cateList) != 0}">
										<td colspan="5" align="center">조회된 카테고리 목록이 없습니다.</td>
								</th:block>
							</tbody> 
						</table>
					</div>
				</div>
			</div> 
		</div>
	</div>
<!--//////////////////////////////////////////// < 모달영역 시작 >  ////////////////////////////////////////////  -->	
<!-- 상품상태 변경 성공 후 실행되는 modal창 -->
<!-- Modal -->
<div id="updateStatusModal" class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">[ 사용여부 변경 완료 ]</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	      <svg  xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
		  <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
		  <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
		</svg>
	<div class="col mt-5">
        선택하신 카테고리의 사용여부를 변경했습니다.
	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="--bs-btn-font-size: 1.2rem;">확인</button>
      </div>
    </div>
  </div>
</div>
<!-- //////////////////////////////////////////// < 끝 >  //////////////////////////////////////////// -->	


<script type="text/javascript" th:src="@{/js/admin/board_admin.js}"></script>

</div>
</html>