<!-- by 유빈 -->
<!-- 관리자게시판 : 카테고리 등록  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
</th:block>
	
<div align="center" layout:fragment="content">
	
	<div class="row justify-center-center mt-3 mb-3" style="width: 80%;">
		<!-- 좌측화면 -->
		<div class="col">
			<!-- 제목줄 -->
			<h3> 카테고리등록 </h3>
			<!-- 등록 줄 -->
			<form th:action="@{/board/regCate}" method="post" th:object="${boardCategoryVO}">
			<input type="hidden" th:field="*{cateNo}">
				 <div  class="row justify-center-center" style="width: 80%;">
					<div class="col-5">
					
						<span>카테고리명</span>
						<span><input class="form-control" th:field="*{cateName}" type="text" placeholder="카테고리명을 입력하세요."></span>
					</div>
					<div class="col-5" >
						<span>사용여부</span>
						<span>
							<select th:field="*{isUse}" class="form-control">
								<option value="Y" selected>사용중</option>
								<option value="N">미사용</option>
							</select>
						</span>
					</div>
					<div class="col-2" style="padding: 20px; padding-top: 30px;" >
						<button type="submit" class="btn btn-primary">등록</button>
					</div>
				</div>
			</form>
			<!-- 카테고리 목록줄 -->
			 <div class="row ">
				<div class="col">
					<div align="center">
						<h3>카테고리 목록</h3>
					</div>
					<div>
						<table class="table table-striped table-hover" >
							<tr>
								<th>카테고리번호</th>
								<th>카테고리명</th>
								<th>사용여부</th>
							</tr>
							 <tbody>
								<th:block th:if="${#lists.size(cateList) != 0}">
									<tr th:each="cate : ${cateList}">
										<td th:text="${cate.cateNo}"></td>
										<td th:text="${cate.cateName}"></td>
										<td th:text="${cate.isUse}"></td>
									</tr>
								</th:block>
								<th:block th:unless="${#lists.size(cateList) != 0}">
										<td colspan="3" align="center">조회된 카테고리 목록이 없습니다.</td>
								</th:block>
							</tbody> 
						</table>
					</div>
				</div>
			</div> 
		</div>
	</div>
	
</div>
</html>