<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/base_layout}"> <!--  베이스 레이아웃에 포함되어 열린다  콘텐츠 부분의 내용이 여기 부분으로 교체되어 보여진다 -->

<th:block layout:fragment="css"> 
<link rel="stylesheet"  th:href="@{}"> 
</th:block>
<style>



</style>

<div layout:fragment="content"> 
	
<div>
<h2></h2>
</div>
	<table class="table table-striped">
  <thead>

  </thead>
  <tbody>
     <tr  align="center">
	      <th scope="col" colspan="2" >학번</th>
	      <th scope="col" colspan="1">이름</th>
	      <th scope="col" colspan="3" style="text-align: center;">소속</th>
	    </tr>
    <tr>
      <td colspan="6">
        <table class="table mb-0" >
          <tr  align="center">
						<td colspan="2"   th:text="${member.memberVO.memNo}"></td>
						<th colspan="2"  style="text-align: right;"th:text="${member.memberVO.memName}"></th>
						<td colspan="2" style="text-align: center;" th:text="${member.collNo}"></td>
					</tr>
	
        </table>
      </td>
    </tr>
     <tr align="center">
      <th scope="col">교과구분</th>
      <th scope="col">교과목명</th>
      <th scope="col">교수명</th>
      <th scope="col">학점수</th>
      <th scope="col">성적</th>
      <th scope="col">강의평가여부</th>
    </tr>
  </tbody>
  <tfoot>
  	<tr align="center" th:each="lec :${stuGradeList}">
      <td>전공</td>
      <td th:text="${lec.lecName}" ></td>
      <td th:text="${lec.enrollmentVO.lectureVO.empNo}" ></td>
      <td th:text="${lec.enrollmentVO.lectureVO.lecScore}" ></td>
      <td th:text="${lec.grade}" ></td>
      <td > 참여</td>
      <!-- <td > <input type="button" value="성적이의신청"> </td> -->
    </tr>
  
  </tfoot>
</table>
	
	
</div>

</html>